.event-partners {
  &.partners {
    padding-top: 5.375rem;

    .partners__body {
      position: relative;
    }

    .partners__fltr {
      position: absolute;
      z-index: -2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      div {
        position: absolute;
        &:nth-child(1) {
          z-index: 3;
          top: -12.6563rem;
          left: 18.3394rem;
          width: 45.97313rem;
          height: 47.38381rem;
          border-radius: 47.38381rem;
          background-color: rgba(112, 229, 159, 0.9);
          filter: blur(12.4476rem);
        }
        &:nth-child(2) {
          z-index: 2;
          top: -19.9375rem;
          left: 4.9375rem;
          width: 42.93481rem;
          height: 34.01325rem;
          border-radius: 42.93481rem;
          background-color: rgba(162, 238, 38, 0.7);
          filter: blur(8.7133rem);
        }
        &:nth-child(3) {
          z-index: 1;
          top: -5.7275rem;
          left: 4.9375rem;
          width: 45.01875rem;
          height: 42.73675rem;
          border-radius: 45.01875rem;
          background-color: #31bacd;
          filter: blur(8.7133rem);
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .event-partners {
    &.partners {
      padding-top: 2.4375rem;

      .partners__heading {
        margin-bottom: 1.875rem;
      }

      .partners__fltr {
        display: none;
        // div {
        //   &:nth-child(1) {
        //     top: -6.4375rem;
        //     left: -2.9112rem;
        //     width: 16.59869rem;
        //     height: 17.10806rem;
        //     border-radius: 17.10806rem;
        //     filter: blur(4.4942rem);
        //   }
        //   &:nth-child(2) {
        //     top: -145.06px;
        //     left: -7.75rem;
        //     width: 15.50175rem;
        //     height: 12.28056rem;
        //     filter: blur(3.146rem);
        //   }
        //   &:nth-child(3) {
        //     top: -3.9356rem;
        //     left: -7.75rem;
        //     width: 16.25413rem;
        //     height: 15.43019rem;
        //     border-radius: 16.25413rem;
        //     filter: blur(3.146rem);
        //   }
        // }
      }
    }
  }
}
