.keys {
  position: relative;
  z-index: 6;
  padding-top: 7.3125rem;

  &__heading {
    margin-bottom: 6.875rem;
  }
  &__tl {
    font-family: var(--ff3);
    font-weight: 600;
    font-size: 10.1875rem;
    line-height: 0.65;
    color: var(--cg);
    span {
      position: relative;
      display: inline-block;
      &::after,
      &::before {
        content: "";
        position: absolute;
        top: 92%;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: var(--vecTl);
        transform: rotate(-2deg);
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
    margin-bottom: 2.9375rem;
    li {
      width: 100%;
      max-width: calc((100% - 3 * 1.875rem) / 4);
      & > span {
        display: block;
        width: 2.75rem;
        margin-bottom: 1.25rem;
        img {
          width: 100%;
        }
      }
      .tl4 {
        margin-bottom: 1.25rem;
      }
      .txt-def {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .keys {
    padding-top: 4.375rem;

    &__heading {
      br {
        display: none;
      }
      margin-bottom: 1.875rem;
    }
    &__tl {
      font-size: 2.8125rem;
      line-height: 1;
      span {
        &::after,
        &::before {
          top: 60%;
        }
      }
    }

    &__list {
      li {
        max-width: calc((100% - 1 * 1.875rem) / 2);
        & > span {
          width: 1.875rem;
          margin-bottom: 0.625rem;
        }
        .tl4 {
          margin-bottom: 0.625rem;
        }
      }
    }

    .btn-def {
      margin: 0 auto;
      width: 100%;
      max-width: 18.125rem;
    }
  }
}

@media screen and (max-width: 675px) {
  .keys {
    &__list {
      li {
        max-width: 100%;
      }
    }
  }
}
