.media {
  &.partners {
    padding-top: 6.75rem;

    .partners__tl {
      max-width: 41.5625rem;
    }
  }
}
@media screen and (max-width: 960px) {
  .media {
    &.partners {
      padding-top: 2.0625rem;

      .partners__tl {
        max-width: 12.8125rem;
      }

      .partners__heading {
        margin-bottom: 1.875rem;
      }
    }
  }
}
