<section class="success thank">
  <div class="hero__video">
    <!-- autoplay -->
    <video muted loop preload="metadata" poster="./img/content/bg_hero.jpg">
      <source src="./img/media/event_mp4.mp4" type="video/mp4" />
      <source src="./img/media/event_webm.webm" type="video/webm" />
    </video>
  </div>

  <div class="thank__container wide">
    <div class="thank__wrapp">
      <div class="thank__heading">
        <h1 class="thank__tl">Дякуємо!</h1>
      </div>

      <div class="thank__body">
        <div class="txt-def">
          <p>
            Ваша оплата успішно опрацьована. Лист з підтвердженням та вся
            додаткова інформація надійде вам на пошту
          </p>
        </div>
        <div class="thank__btns">
          <a href="./index.html" class="btn-def trnspr">
            Повернутися на головну
          </a>
        </div>

        <div class="thank__img no-select" aria-hidden="true">
          <img src="./img/decor/dec_4.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
