<header class="header">
  <div class="header__main">
    <div class="header__container">
      <div class="header__body">
        <a href="./index.html" class="custom-logo-link">
          <img src="./img/icons/logo.svg" alt="Logo" />
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer" class="eic-logo">
          <img src="./img/icons/eic.svg" alt="EIC" />
        </a>

        <load src="partials/header/parts/navmenu.html" />

        <button type="button" class="burger" aria-label="Open menu">
          <div aria-hidden="true">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <span>Menu</span>
        </button>
      </div>
    </div>
  </div>

  <load src="partials/header/parts/mobmenu.html" />
</header>
