<section class="contacts" id="contacts">
  <div class="contacts__container">
    <div class="contacts__heading">
      <h2 class="tl1">Contacts</h2>
    </div>
  </div>

  <div class="contacts__container wide">
    <div class="contacts__wrapp">
      <div class="contacts__fltr1 no-select" aria-hidden="true">
        <img src="./img/decor/cont_fltr1.svg" alt="" />
      </div>
      <div class="contacts__fltr2 fltr-mob" aria-hidden="true">
        <div></div>
        <div></div>
        <div></div>
      </div>

      <div class="contacts__body">
        <div class="contacts__fltr2" aria-hidden="true">
          <div></div>
          <div></div>
          <div></div>
        </div>

        <div class="contacts__address">
          <h3 class="tl3 cw">Join us!</h3>
          <address class="address">
            <div class="address__box">
              <p>Phone</p>
              <a href="tel:+380956878086">
                <span><img src="./img/icons/tel.svg" alt="" /></span>+38 (095)
                687-80-86
              </a>
            </div>
            <div class="address__box">
              <p>E-mail</p>
              <a href="mailto:it.hr.forum@gmail.com">
                <span><img src="./img/icons/mail.svg" alt="" /></span
                >it.hr.forum@gmail.com
              </a>
            </div>
          </address>
        </div>

        <div class="contacts__form">
          <h3 class="tl3 cw">Get in touch</h3>
          <form class="form submitForm" id="contactsForm">
            <label class="label__def">
              <span class="input__def">
                <input
                  type="text"
                  name="contact-name"
                  placeholder="First name"
                  data-required="true"
                />
              </span>
              <span class="required"></span>
            </label>
            <label class="label__def">
              <span class="input__def">
                <input
                  type="email"
                  name="contact-email"
                  placeholder="Email (if possible a personal one)"
                  data-required="true"
                />
              </span>
              <span class="required"></span>
            </label>
            <label class="label__def">
              <span class="input__def">
                <input
                  type="tel"
                  name="contact-tel"
                  placeholder="Phone number"
                  data-required="true"
                />
              </span>
              <span class="required"></span>
            </label>
            <label class="label__def">
              <span class="area__def">
                <textarea
                  name="contact-area"
                  rows="3"
                  placeholder="Some placeholder text here…"
                ></textarea>
              </span>
            </label>
            <button type="submit" class="btn-def">Send Message</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
