@font-face {
  font-family: "Montserrat";
  src:
    url("../../fonts/Regular/Montserrat-Regular.eot") format("eot"),
    url("../../fonts/Regular/Montserrat-Regular.woff2") format("woff2"),
    url("../../fonts/Regular/Montserrat-Regular.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Forum";
  src:
    url("../../fonts/Regular/Forum-Regular.eot") format("eot"),
    url("../../fonts/Regular/Forum-Regular.woff2") format("woff2"),
    url("../../fonts/Regular/Forum-Regular.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "PlayfairDisplay";
  src:
    url("../../fonts/SemiBold/PlayfairDisplay-SemiBold.ttf") format("eot"),
    url("../../fonts/SemiBold/PlayfairDisplay-SemiBold.woff2") format("woff2"),
    url("../../fonts/SemiBold/PlayfairDisplay-SemiBold.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src:
    url("../../fonts/Bold/Montserrat-Bold.eot") format("eot"),
    url("../../fonts/Bold/Montserrat-Bold.woff2") format("woff2"),
    url("../../fonts/Bold/Montserrat-Bold.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
