<section class="policy">
  <div class="policy__container wide">
    <div class="policy__wrapp">
      <div class="policy__fltr1 no-select" aria-hidden="true">
        <img src="./img/decor/ambass_fltr.svg" alt="" />
      </div>
      <div class="policy__fltr2 no-select" aria-hidden="true">
        <img src="./img/decor/ambass_fltr.svg" alt="" />
      </div>
      <div class="policy__fltr3 no-select" aria-hidden="true">
        <img src="./img/decor/hero_fltr1.svg" alt="" />
      </div>
      <div class="policy__fltr4 no-select" aria-hidden="true">
        <img src="./img/decor/fltr_circle2.svg" alt="" />
      </div>

      <div class="policy__body">
        <span class="ico-decor no-select">
          <img src="./img/decor/dec_7.png" alt="" />
        </span>

        <div class="policy__heading">
          <h1 class="tl2">
            Публічний<br />
            Договір
          </h1>
        </div>

        <div class="policy__row">
          <div class="policy__box">
            <div>
              <div class="policy__widget">
                <div class="policy__sidebar"></div>
              </div>
              <button
                type="button"
                class="policy__nav"
                aria-label="Open sidebar"
              >
                <div aria-hidden="true">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </button>
            </div>
          </div>
          <div class="policy__content embeded">
            <h2>Публічний Договір (Договір Публічної Офіерти)</h2>
            <p>
              Цей публічний договір (надалі – «Договір») регулює відносини між
              Вами та фізичною особою-підприємцем Дробот Катериною Сергіївною,
              яка внесена до Єдиного державного реєстру юридичних осіб, фізичних
              осіб-підприємців та громадських формувань (РНОКПП 3165206564,
              місцезнаходження: Україна, 04213, м. Київ, пр. Івасюка Володимира,
              буд. 42, кв. 18) (надалі - «Виконавець») щодо надання послуг, які
              визначені на веб-сайті за посиланням
              <a href="#" target="_blank" rel="noopener noreferrer">
                www.ebcua.com</a
              >
              (надалі - «Послуги» та «Сайт» відповідно).
            </p>
            <h2>1. Визначення термінів</h2>
            <ol>
              <li>
                Спільнота - закрита професійна спільнота для спеціалістів з
                Employer Branding.
              </li>
              <li>
                Користувач – особа, яка замовила та здійснила оплату Послуг.
              </li>
              <li>
                Послуги – надання Користувачу доступу до Спільноти та Контенту,
                на умовах, що визначені цим Договором, та зазначені Виконавцем у
                відповідному розділі Сайту Виконавця www.ebcua.com.
              </li>
              <li>
                Контент – відео, текстові, графічні, аудіовізуальні або будь-які
                інші матеріали, розроблені, організовані або надані Виконавцем
                для використання Користувачем.
              </li>
              <li>
                Акцепт – надання Користувачем повної або безумовної згоди на
                укладення даного Договору в повному обсязі, без підпису
                письмового примірника Договору Сторонами.
              </li>
              <li>
                Замовлення - належно оформлена заявка Користувача на отримання
                Послуг, що адресується Виконавцю.
              </li>
            </ol>

            <h2>2. Загальні положення</h2>
            <ol>
              <li>
                Цей Договір укладається шляхом надання повної й безумовної згоди
                (акцепту) Користувача на укладення Договору в повному обсязі,
                без підпису письмового примірника Договору сторонами.
              </li>
              <li>
                Договір має юридичну силу відповідно до ст.ст. 633, 641, 642
                Цивільного кодексу України і є рівносильним Договору,
                підписаному сторонами.
              </li>
              <li>
                Користувач підтверджує факт ознайомлення та згоди з усіма
                умовами Договору в повному обсязі шляхом акцептування.
              </li>
              <li>
                Будь-яка з наступних дій вважається акцептом цього договору
                публічної оферти:
                <ul>
                  <li>
                    факт реєстрації Користувача на Сайті Виконавця та оформлення
                    Замовлення Послуг Виконавця на Сайті;
                  </li>
                  <li>
                    оплата Послуг Виконавця на умовах та в порядку, визначених
                    цим Договором та на відповідних сторінках Сайту Виконавця;
                  </li>
                  <li>
                    письмове (у т. ч в електронній формі засобами електронної
                    пошти) повідомлення Користувача про прийняття умов цього
                    Договору на адресу електронної пошти, зазначеної на Сайті.
                  </li>
                </ul>
              </li>
              <li>
                Укладаючи Договір Користувач автоматично погоджується з повним
                та безумовним прийняттям положень цього Договору та цін на
                Послуги.
              </li>
              <li>
                Акцептуючи умови цього Договору, Користувач визнає і гарантує,
                що має всі належні права та належну правосуб’єктність на
                виконання умов Договору.
              </li>
            </ol>

            <h2>3. Предмет договору</h2>
            <p>
              3.1. Виконавець надає Користувачу доступ до таких функціональних
              можливостей та Контенту Спільноти, а саме:
            </p>
            <ul>
              <li>- доступ до платформи для спілкування Circle</li>
              <li>- доступ до бази знань</li>
              <li>- доступ до відео бібліотеки всіх минулих подій Спільноти</li>
              <li>- менторська підтримка</li>
              <li>- участь у закритих подіях Спільноти</li>
              <li>
                - можливість участі в міжнародних заходах на спеціальних умовах
              </li>
              <li>- профільні вакансії</li>
              <li>- знижки від партнерів Спільноти.</li>
            </ul>
            <p>
              3.2. Найменування і перелік функціональних можливостей Послуг
              можуть час від часу змінюватися Виконавцем без попереднього
              повідомлення Користувача. Виконавець має право на власний розсуд
              припинити (тимчасово або остаточно) роботу будь-яких окремих
              функціональних можливостей Послуг без попереднього повідомлення
              Користувача.
            </p>

            <h2>4. Вартість послуг та порядок розрахування</h2>
            <p>
              4.1. Послуги надаються у форматі підписки, тобто вільного доступу
              до функціональних можливостей Спільноти протягом певного періоду
              (6 або 12 місяців) за умови реєстрації та попередньої оплати
              Послуг за цей період (надалі – «Доступ»).
            </p>
            <p>
              4.2. Строк, на який оформлюється Доступ, визначається також на
              Сайті.
            </p>
            <p>
              4.3. Доступ оформлюється шляхом сплати вартості Послуг за
              відповідний період надання Послуг. Інформація про термін і
              вартість надання Послуг вказана на Сайті. Користувач підтверджує,
              що ознайомлений з такою інформацією.
            </p>
            <p>
              4.4. Розрахунки за Послуги здійснюються шляхом перерахування
              коштів, що може здійснюватися наступним чином:
            </p>

            <h2>5. Lorem ipsum dolor sit.</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
              sint magni quam, laborum mollitia harum sequi molestias ut, nam
              tempora autem pariatur adipisci nobis qui explicabo laudantium
              sapiente beatae voluptatem?<br />
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
              sint magni quam, laborum mollitia harum sequi molestias ut, nam
              tempora autem pariatur adipisci nobis qui explicabo laudantium
              sapiente beatae voluptatem?
            </p>
            <h2>6. Lorem ipsum dolor sit.</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
              sint magni quam, laborum mollitia harum sequi molestias ut, nam
              tempora autem pariatur adipisci nobis qui explicabo laudantium
              sapiente beatae voluptatem?<br />
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
              sint magni quam, laborum mollitia harum sequi molestias ut, nam
              tempora autem pariatur adipisci nobis qui explicabo laudantium
              sapiente beatae voluptatem?
            </p>
            <h2>7. Lorem ipsum dolor sit.</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
              sint magni quam, laborum mollitia harum sequi molestias ut, nam
              tempora autem pariatur adipisci nobis qui explicabo laudantium
              sapiente beatae voluptatem?<br />
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
              sint magni quam, laborum mollitia harum sequi molestias ut, nam
              tempora autem pariatur adipisci nobis qui explicabo laudantium
              sapiente beatae voluptatem?
            </p>
            <h2>8. Lorem ipsum dolor sit.</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
              sint magni quam, laborum mollitia harum sequi molestias ut, nam
              tempora autem pariatur adipisci nobis qui explicabo laudantium
              sapiente beatae voluptatem?<br />
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
              sint magni quam, laborum mollitia harum sequi molestias ut, nam
              tempora autem pariatur adipisci nobis qui explicabo laudantium
              sapiente beatae voluptatem?
            </p>
            <h2>9. Lorem ipsum dolor sit.</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
              sint magni quam, laborum mollitia harum sequi molestias ut, nam
              tempora autem pariatur adipisci nobis qui explicabo laudantium
              sapiente beatae voluptatem?<br />
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
              sint magni quam, laborum mollitia harum sequi molestias ut, nam
              tempora autem pariatur adipisci nobis qui explicabo laudantium
              sapiente beatae voluptatem?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
