<section class="thank">
  <div class="hero__video">
    <video autoplay muted loop preload="metadata">
      <source src="./img/media/hero_mp4.mp4" type="video/mp4" />
      <source src="./img/media/hero_webm.webm" type="video/webm" />
    </video>
  </div>

  <div class="thank__container wide">
    <div class="thank__wrapp">
      <div class="thank__heading">
        <h1 class="thank__tl">Дякуємо!</h1>
      </div>

      <div class="thank__body">
        <div class="txt-def">
          <p>Ми зв’яжемось з вами протягом 2 робочих годин</p>
        </div>
        <h2 class="tl3">Бажаєте оплатити замовлення зараз?</h2>
        <div class="thank__btns">
          <a href="./index.html" class="btn-def bg-yell">Оплатити зараз</a>
          <a href="./index.html" class="btn-def trnspr">
            Повернутися на головну
          </a>
        </div>

        <div class="thank__img no-select" aria-hidden="true">
          <img src="./img/decor/dec_3.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
