.policy {
  padding-top: 5.4375rem;

  &__wrapp {
    position: relative;
  }
  &__body {
    position: relative;
    padding: 6.875rem 7.5rem 6.25rem 7.5rem;
    border-radius: 4.375rem;
    background-color: var(--cw2);
  }

  &__heading {
    margin-bottom: 4.625rem;
  }

  &__row {
    position: relative;
    display: grid;
    grid-template-columns: 16.25rem 1fr;
    align-items: start;
    gap: 0 11.0625rem;
  }

  &__box {
    position: sticky;
    top: 11.25rem;
  }
  &__sidebar {
    overflow-y: auto;
    max-height: 14.25rem;
    direction: rtl;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 0.125rem;
      background-color: rgba(0, 0, 0, 0.1);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--cl);
      border-radius: 0;
    }
    .tabs {
      padding-left: 1.875rem;
      direction: ltr;
      li {
        &:last-child {
          a {
            margin-bottom: 0;
          }
        }
        a {
          width: fit-content;
          display: block;
          margin-bottom: 0.9375rem;
        }
        .tab {
          &.active {
            font-weight: 700;
          }
        }
      }
    }
  }

  &__fltr1,
  &__fltr2 {
    position: absolute;
    z-index: -1;
    transform: rotate(-120deg);
    width: 73.3425rem;
    filter: blur(7.3125rem);
    img {
      width: 100%;
    }
  }
  &__fltr1 {
    top: -44.14rem;
    left: -8.765rem;
  }
  &__fltr2 {
    right: -11.14rem;
    bottom: 4.7975rem;
  }
  &__fltr3 {
    position: absolute;
    z-index: -2;
    top: -6.4375rem;
    left: 2.75rem;
    width: 28.1875rem;
    img {
      width: 100%;
    }
  }
  &__fltr4 {
    position: absolute;
    z-index: -3;
    top: -28rem;
    right: -28.5rem;
    width: 80.5625rem;
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 960px) {
  .policy {
    padding-top: 2.75rem;

    &__container {
      &.wide {
        padding: 0;
      }
    }
    &__body {
      padding: 3.125rem 0.9375rem 1.875rem 0.9375rem;
      border-radius: 0.9375rem;
    }

    &__heading {
      margin-bottom: 1.875rem;
      br {
        display: none;
      }
    }

    &__row {
      grid-template-columns: 1fr;
      align-items: stretch;
      gap: 0;
    }

    &__box {
      position: absolute;
      z-index: 10;
      height: 100%;
      top: 0;
      right: 0;
      & > div {
        position: sticky;
        top: 10rem;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 0.75rem 0;
      }
    }
    &__widget {
      width: 100%;
      max-width: 16.875rem;
      max-height: 14.8125rem;
      border-radius: 0.9375rem;
      padding: 0.9375rem;
      background-color: var(--cw2);
      border: 0.0625rem solid var(--cd);
      transform: scale(0.8) translateY(15%) translateX(10%);
      visibility: hidden;
      opacity: 0;

      transition: all 0.15s ease-in;

      &.isOpened {
        transform: scale(1) translateY(0) translateX(0);
        opacity: 1;
        visibility: visible;
      }
    }
    &__sidebar {
      max-height: calc(14.8125rem - 0.9375rem * 2);

      .tabs {
        font-size: 0.875rem;
        padding-left: 0.625rem;
      }
    }
    &__nav {
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 0.9375rem;
      background-color: var(--cl);
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        position: relative;
        width: 0.875rem;
        height: 0.9375rem;
        span {
          position: absolute;
          left: 50%;
          top: 50%;
          width: 100%;
          height: 0.125rem;
          background-color: var(--cy);
          border-radius: 0.625rem;
          transform: translateX(-50%) translateY(-75%) rotate(0);

          -webkit-transition: all 0.2s ease-in;
          -o-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in;
          &:first-child {
            top: 0;
            transform: translateX(-50%) translateY(0%);
          }
          &:last-child {
            top: 100%;
            transform: translateX(-50%) translateY(-100%);
          }
        }
      }

      &.isOpened {
        div {
          span {
            top: 50%;
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
            opacity: 0;
            &:first-child {
              transform: translateX(-50%) translateY(-50%) rotate(45deg);
              opacity: 1;
            }
            &:last-child {
              transform: translateX(-50%) translateY(-50%) rotate(-45deg);
              opacity: 1;
            }
          }
        }
      }
    }

    &__fltr1 {
      top: -19.5538rem;
      left: -3.5537rem;
      width: 28.7331rem;
      filter: blur(2.8648rem);
    }
    &__fltr2 {
      display: none;
    }
    &__fltr3 {
      top: -3.5962rem;
      left: 0.9569rem;
      width: 11rem;
    }
    &__fltr4 {
      display: none;
    }
  }
}
