<footer class="footer">
  <div class="footer__container">
    <div class="footer__top">
      <div class="footer__head">
        <a href="./index.html" class="custom-logo-link">
          <img src="./img/icons/logo.svg" alt="Logo" />
        </a>
        <div class="footer__final">
          <p>Finalist of</p>
          <span class="no-select">
            <img src="./img/icons/brav.svg" alt="" />
          </span>
        </div>
      </div>

      <div class="footer__desc">
        <p>
          Closed International Professional Community for IT Recruiters, HR, HR Marketers and Sourcers
        </p>
      </div>

      <div class="footer__content">
        <address class="footer__address">
          <h3 class="tl4 cw">Contacts</h3>
          <div class="footer__box">
            <p>Phone</p>
            <a href="tel:+380956878086">
              <span class="no-select">
                <img src="./img/icons/tel.svg" alt="Tel" />
              </span>
              +38 (095) 687-80-86
            </a>
          </div>
          <div class="footer__box">
            <p>E-mail</p>
            <a href="mailto:it.hr.forum@gmail.com">
              <span class="no-select">
                <img src="./img/icons/mail.svg" alt="Mail" />
              </span>
              it.hr.forum@gmail.com
            </a>
          </div>

          <ul class="footer__soc">
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <span class="no-select">
                  <img
                    src="./img/icons/soc_3.svg"
                    alt="Facebook"
                    aria-label="Social network Facebook"
                  />
                </span>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <span class="no-select">
                  <img
                    src="./img/icons/soc_1.svg"
                    alt="LinkedIn"
                    aria-label="Social network LinkedIn"
                  />
                </span>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <span class="no-select">
                  <img
                    src="./img/icons/soc_5.svg"
                    alt="Instagram"
                    aria-label="Social network Instagram"
                  />
                </span>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <span class="no-select">
                  <img
                    src="./img/icons/soc_6.svg"
                    alt="Telegram"
                    aria-label="Social network Telegram"
                  />
                </span>
              </a>
            </li>
          </ul>
        </address>

        <div class="footer__list">
          <h3 class="tl4 cw">Quick link</h3>
          <ul>
            <li class="menu-item current-menu-item">
              <a href="#space">About us</a>
            </li>
            <li class="menu-item"><a href="#ambass">Ambassadors</a></li>
            <li class="menu-item"><a href="#events">Events</a></li>
            <li class="menu-item"><a href="#plans">Become a member</a></li>
            <li class="menu-item"><a href="#contacts">Contact</a></li>
          </ul>
        </div>

        <div class="footer__list">
          <h3 class="tl4 cw">Legal</h3>
          <ul>
            <li class="menu-item"><a href="#">Terms&Condition</a></li>
            <li class="menu-item">
              <a href="./policy.html">Privacy Policy</a>
            </li>
            <li class="menu-item"><a href="#">Сode of conduct</a></li>
            <li class="menu-item"><a href="#">Delivery and return</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <p>© 2025, talentsmatter.org</p>

      <ul>
        <li class="visa">
          <span class="no-select">
            <img src="./img/icons/visa.svg" alt="Visa" />
          </span>
        </li>
        <li class="ms no-select">
          <span class="no-select">
            <img src="./img/icons/ms.svg" alt="Mastercard" />
          </span>
        </li>
      </ul>

      <a href="https://mooore.red/" target="_blank" rel="noopener noreferrer">
        design by
        <span class="no-select">
          <img src="./img/icons/design.svg" alt="" />
        </span>
      </a>
    </div>
  </div>
</footer>
