.thank {
  padding-top: 2.1875rem;

  &__heading {
    position: relative;
    z-index: 11;
    margin-bottom: 0.9375rem;
  }
  &__tl {
    font-family: var(--ff3);
    font-weight: 600;
    font-size: 10.375rem;
    line-height: 1.17445;
  }

  &__wrapp {
    position: relative;
    padding: 0 7.5rem 5rem 7.5rem;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: calc(100% - 7.1875rem);
      backdrop-filter: blur(0.9375rem);
      border: 0.0625rem solid var(--cw2);
      border-radius: 4.375rem;
      background-color: rgba(248, 251, 238, 0.2);
      box-shadow: 0 4rem 8.375rem 0 rgba(0, 0, 0, 0.1);
    }
  }
  &__body {
    position: relative;
    z-index: 10;

    .tl3 {
      margin-bottom: 1.625rem;
    }
    .txt-def {
      max-width: 31.25rem;
      margin-bottom: 1.8125rem;
    }
  }
  &__btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.75rem;
    .btn-def {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    right: -1.875rem;
    transform: translateY(-50%);
    width: 27.5rem;
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 960px) {
  .thank {
    padding-top: 0.9375rem;

    &__container {
      padding: 0;
    }

    &__heading {
      margin-bottom: 0.625rem;
    }
    &__tl {
      text-align: center;
      font-size: 3.5625rem;
      line-height: normal;
    }

    &__wrapp {
      padding: 0.75rem 0.9375rem 2.875rem 0.9375rem;
      &::before {
        height: 100%;
        border-radius: 0.9375rem;
      }
    }
    &__body {
      display: flex;
      flex-direction: column;
      align-items: center;

      .tl3 {
        text-align: center;
        margin-bottom: 0.875rem;
      }
      .txt-def {
        text-align: center;
        width: 100%;
        max-width: 23.4375rem;
        margin-bottom: 0.75rem;
      }
    }
    &__btns {
      width: 100%;
      gap: 0.875rem;
      justify-content: center;
      .btn-def {
        width: 100%;
        max-width: 18.125rem;
        padding: 1.0938rem 2.4375rem;
      }
    }

    &__img {
      display: none;
    }
  }
}
