.about {
  padding-top: 8.3125rem;

  &__body {
    position: relative;
    z-index: 5;
    padding: 6.875rem 7.5rem 5.625rem 7.5rem;
    border-radius: 4.375rem;
    background-color: var(--cw);
    box-shadow: 0 4rem 8.375rem 0 rgba(0, 0, 0, 0.1);
  }

  &__content {
    padding-left: 10.5rem;
  }
  &__heading {
    margin-bottom: 3rem;

    .tl2 {
      position: relative;
      margin-bottom: 2.0625rem;
      span {
        position: absolute;
        z-index: 1;
        top: 0;
        left: -1.125rem;
        transform: translateX(-100%);
      }
    }
    .tl3 {
      line-height: 1.08696;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem 3.75rem;
    margin-bottom: 2.4375rem;
    li {
      width: 100%;
      max-width: calc((100% - 2 * 3.75rem) / 3);
      & > span {
        display: block;
        width: 2.75rem;
        margin-bottom: 1.25rem;
        img {
          width: 100%;
        }
      }

      .txt-def {
        font-size: 0.9375rem;
        line-height: 1.53333;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .about {
    padding-top: 1.75rem;

    &__container {
      padding: 0;
    }
    &__body {
      padding: 3.125rem 0.9375rem 1.875rem 0.9375rem;
      border-radius: 0.9375rem;
      box-shadow: none;
    }

    &__content {
      padding-left: 0;
    }
    &__heading {
      margin-bottom: 1.25rem;
      br {
        display: none;
      }

      .tl2 {
        margin-bottom: 0.625rem;
        span {
          position: static;
          top: auto;
          left: auto;
          transform: none;
        }
      }
      .tl3 {
        font-size: 1.375rem;
        line-height: 1.04;
      }
    }

    &__list {
      gap: 1.25rem;
      margin-bottom: 1.25rem;
      li {
        max-width: calc((100% - 1 * 1.25rem) / 2);
        & > span {
          width: 1.875rem;
          margin-bottom: 0.625rem;
        }
        .txt-def {
          font-size: 0.875rem;
          line-height: 1.5;
        }
      }
    }
  }
}

@media screen and (max-width: 730px) {
  .about {
    &__list {
      li {
        max-width: 100%;
      }
    }
  }
}
