.connect {
  position: relative;
  padding-top: 6.625rem;
  margin-bottom: -0.0625rem;

  &__heading {
    position: relative;
    z-index: 10;
    margin-bottom: -2.6875rem;
  }

  &__wrapp {
    position: relative;
  }
  &__body {
    position: relative;
    z-index: 10;
    padding: 7.8125rem 7.5rem;
    border-radius: 4.375rem;
    background-color: rgba(0, 200, 163, 0.1);
    box-shadow: 0 4rem 8.375rem 0 rgba(0, 0, 0, 0.1);
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 100%;
      height: 100%;
      backdrop-filter: blur(0.9375rem);
      border-radius: 4.375rem;
      border: 0.0625rem solid var(--cw2);
    }
  }

  &__content {
    position: relative;
    z-index: 5;
    .tl3 {
      line-height: 1.08696;
      margin-bottom: 1.625rem;
    }
  }
  &__address {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 3.125rem;
    & > div {
      flex: 0 0 auto;
    }
  }
  &__logo {
    & > p {
      color: var(--cw);
      margin-bottom: 0.875rem;
    }
    & > a {
      display: block;
      width: 5.5781rem;
      img {
        width: 100%;
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
          hue-rotate(310deg) brightness(102%) contrast(105%);
      }
    }
  }
  &__box {
    & > p {
      color: var(--cw);
      margin-bottom: 0.875rem;
    }
    & > a {
      display: flex;
      align-items: start;
      gap: 0 0.8125rem;

      width: fit-content;
      word-break: break-word;
      font-size: 2rem;
      line-height: 1.28125;
      color: var(--cw);
      transition: all 0.15s ease-in;

      & > span {
        position: relative;
        top: 0.5rem;
        flex-shrink: 0;
        width: 1.5625rem;
        img {
          width: 100%;
        }
      }
      &:hover {
        color: var(--cy);
      }
    }
  }

  &__fltr1 {
    position: absolute;
    z-index: 1;
    left: -16.3125rem;
    bottom: -17.3125rem;
    width: 42.625rem;
    filter: blur(7.3125rem);
    img {
      width: 100%;
    }
  }
  &__fltr2 {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &.fltr-mob {
      display: none;
    }
    div {
      &:nth-child(1) {
        position: absolute;
        z-index: 3;
        top: 5.125rem;
        right: -2.7331rem;
        width: 44.90988rem;
        height: 48.31769rem;
        transform: rotate(85.405deg);
        border-radius: 48.3177rem;
        background-color: rgba(243, 73, 155, 0.8);
        filter: blur(9.4153rem);
      }
      &:nth-child(2) {
        position: absolute;
        z-index: 2;
        top: -2.8125rem;
        right: 0.3419rem;
        width: 50.381rem;
        height: 48.31769rem;
        transform: rotate(111.454deg);
        border-radius: 50.381rem;
        background: linear-gradient(
          207deg,
          rgba(255, 92, 0, 0) 36.6%,
          rgba(255, 92, 0, 0.8) 80.97%
        );
        filter: blur(9.4153rem);
      }
      &:nth-child(3) {
        position: absolute;
        z-index: 1;
        top: -4.3994rem;
        right: -7.8456rem;
        width: 36.19331rem;
        height: 41.60269rem;
        transform: rotate(-33.582deg);
        border-radius: 41.6027rem;
        background-color: rgba(234, 238, 38, 0.9);
        filter: blur(9.4153rem);
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .connect {
    padding-top: 3rem;

    &__container {
      padding: 0;
    }

    &__heading {
      margin-bottom: -1.375rem;
    }

    &__body {
      padding: 1.0625rem 0.9375rem 2.6875rem 0.9375rem;
      border-radius: 0.9375rem;

      &::before {
        border-radius: 0.9375rem;
      }
    }

    &__content {
      .tl3 {
        line-height: 1.10714;
        margin-bottom: 0.75rem;
      }
    }
    &__logo {
      & > p {
        font-size: 0.875rem;
        margin-bottom: 0.625rem;
      }
      & > a {
        width: 4.875rem;
      }
    }
    &__box {
      & > p {
        font-size: 0.875rem;
        margin-bottom: 0.25rem;
      }
      & > a {
        font-size: 1.125rem;
        line-height: 1.44444;

        & > span {
          top: 0.25rem;
          width: 1.125rem;
        }
        &:hover {
          color: var(--cw);
        }
      }
    }

    &__fltr1 {
      right: -8.625rem;
      left: auto;
      bottom: -9.0625rem;
      width: 23.6875rem;
      filter: blur(4.0637rem);
    }
    &__fltr2 {
      z-index: 2;
      display: none;

      &.fltr-mob {
        display: block;
      }
      div {
        &:nth-child(1) {
          top: 0.0256rem;
          left: -11.5587rem;
          right: auto;
          width: 20.86619rem;
          height: 22.44956rem;
          border-radius: 22.44956rem;
          filter: blur(5.9913rem);
        }
        &:nth-child(2) {
          top: -3.6637rem;
          left: -15.5388rem;
          right: auto;
          width: 23.40819rem;
          height: 22.44956rem;
          border-radius: 23.40819rem;
          filter: blur(4.3746rem);
        }
        &:nth-child(3) {
          top: -4.4rem;
          left: -5.1338rem;
          right: auto;
          width: 16.8163rem;
          height: 19.3294rem;
          border-radius: 19.32956rem;
          filter: blur(4.3746rem);
        }
      }
    }
  }
}

@media screen and (max-width: 675px) {
  .connect {
    &__address {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: stretch;
      gap: 0.75rem;
    }
  }
}
