.faq {
  position: relative;
  z-index: 5;
  padding-top: 8rem;
  &__top {
    margin-bottom: -5rem;
  }
  &__body {
    padding-top: 11.4375rem;
    border-radius: 4.375rem 4.375rem 0 0;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &__accord {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 0 1.875rem;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem 0;
  }

  .ac {
    overflow: hidden;
    border-radius: 1rem;
    border: 0.0625rem solid var(--cy);
    padding-bottom: 0.625rem;

    .faq__head {
      position: relative;
      padding: 1.875rem 1.875rem 1.25rem 1.875rem;
      &::after {
        transform: rotate(-45deg);
      }
      &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0.625rem;
        transition: all 0.15s ease-in;
      }
    }
    .txt-def {
      padding: 0 1.875rem 1.875rem 1.875rem;
    }

    &.is-active {
      .ac-panel {
        opacity: 1;
      }
      .faq__head {
        &::after {
          transform: rotate(0);
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .faq {
    padding-top: 1.6875rem;
    &__top {
      margin-bottom: -2.5625rem;
    }
    &__body {
      padding-top: 5rem;
      border-radius: 0.9375rem 0.9375rem 0 0;
    }

    &__accord {
      grid-template-columns: 1fr;
      align-items: stretch;
      gap: 0.625rem 0;
    }
    &__list {
      gap: 0.625rem 0;
    }

    .ac {
      border-radius: 0.75rem;
      padding-bottom: 15px;
      padding-bottom: 10px;
      padding-bottom: 0.3125rem;

      .faq__head {
        padding: 0.9375rem 0.9375rem 0.625rem 0.9375rem;
        &::before {
          height: 0.3125rem;
        }
      }
      .txt-def {
        padding: 0 0.9375rem 0.625rem 0.9375rem;
      }
    }
  }
}
