.purchase {
  position: relative;
  padding-top: 6.5625rem;

  &__heading {
    position: relative;
    z-index: 10;
    margin-bottom: 2.5625rem;
    .tl2 {
      span {
        position: relative;
        display: inline-block;
        &::after,
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 100%;
          background-size: 100% 100%;
          background-position: center center;
          background-repeat: no-repeat;
          background-image: var(--vecTl);
          filter: brightness(0) saturate(100%) invert(100%) sepia(100%)
            saturate(0%) hue-rotate(49deg) brightness(103%) contrast(102%);
        }
      }
    }
  }
  &__subtl {
    font-family: var(--ff2);
    font-size: 2.875rem;
    line-height: 1.08;
    margin-bottom: 1.0625rem;
  }

  &__body {
    position: relative;
    z-index: 10;
    padding-top: 1.5625rem;
  }
}

.purchase__dec1 {
  position: absolute;
  top: 3.125rem;
  right: 0.5rem;
  z-index: 2;
  width: 22.9375rem;
  img {
    width: 100%;
  }
}
.purchase__dec2 {
  position: absolute;
  top: 3.625rem;
  right: -1.875rem;
  z-index: 2;
  width: 6.6875rem;
  img {
    width: 100%;
  }
}
.purchase__fltr1 {
  position: absolute;
  top: -21.3125rem;
  right: -40.125rem;
  z-index: 1;
  width: 80.5625rem;
  img {
    width: 100%;
  }
}
.purchase__fltr2 {
  position: absolute;
  z-index: 1;
  top: -1.125rem;
  left: -27.0625rem;
  width: 42.625rem;
  filter: blur(7.3125rem);
  img {
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .purchase {
    padding-top: 2.9375rem;

    &__heading {
      padding-right: 8.125rem;
      margin-bottom: 1.5rem;
    }
    &__subtl {
      font-size: 1rem;
      line-height: 0.93;
      margin-bottom: 0.5rem;
    }

    &__body {
      padding-top: 1.25rem;
    }
  }

  .purchase__dec1 {
    top: 2.9375rem;
    width: 7.3125rem;
  }
  .purchase__dec2 {
    top: 3.125rem;
    right: -0.3125rem;
    width: 2.125rem;
  }
  .purchase__fltr1 {
    top: -4.875rem;
    right: -12.125rem;
    width: 25.75rem;
  }
  .purchase__fltr2 {
    display: block;
  }
}
