.speaker {
  padding-top: 8.375rem;

  &__wrapp {
    position: relative;
  }
  &__body {
    position: relative;
    z-index: 10;
  }
  &__heading {
    margin-bottom: 2.875rem;
  }

  &__circle {
    position: absolute;
    z-index: 1;
    bottom: -24.6875rem;
    left: -51.75rem;
    width: 80.5625rem;
    img {
      width: 100%;
    }
  }

  .commit__item {
    max-width: calc((100% - 3 * 1.875rem) / 4);
    &:nth-child(-n + 8) {
      display: flex;
      opacity: 1;
      visibility: visible;
    }
  }
  .commit__link {
    color: var(--cy);
  }

  .addMore {
    margin: 3.9375rem auto 0 auto;
  }
}

@media screen and (max-width: 960px) {
  .speaker {
    padding-top: 3.25rem;

    &__heading {
      margin-bottom: 2.5rem;
    }

    &__circle {
      z-index: -1;
      bottom: -12.9375rem;
      left: -12.0625rem;
      width: 26.0747rem;
    }

    .commit__item {
      max-width: calc((100% - 1 * 1.875rem) / 2);
      &:nth-child(-n + 8) {
        display: none;
        opacity: 0;
        visibility: hidden;
      }
      &:nth-child(-n + 4) {
        display: flex;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

@media screen and (max-width: 475px) {
  .speaker {
    .commit__item {
      max-width: 100%;
    }
  }
}
