<section class="commit" id="commit">
  <div class="commit__container">
    <div class="commit__heading">
      <h2 class="commit__tl">
        Програмний<br />
        комітет
      </h2>
    </div>

    <ul class="commit__list moreBlock">
      <li class="commit__item">
        <div class="commit__box openModal" data-id="idEvidence">
          <div class="commit__img ibg">
            <img src="./img/content/ambass_1.jpg" alt="" />
          </div>
          <h3 class="tl3">Elizaveta Qweentessa</h3>
          <div class="commit__activity">
            <p>
              Managing Director/ HR Operations Director Ukraine at Luxoft, A DXC
              Technology Company
            </p>
          </div>
        </div>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="commit__link"
        >
          <span><img src="./img/icons/conn_2.svg" alt="" /></span>
          LinkedIn
        </a>
        <div class="commit__desc">
          <p>
            Slide2 Our community brings together professionals eager to develop,
            share experiences, and shape the future of the industry. Here,
            you’ll find everything you need for personal and professional
            growth.
          </p>
        </div>
        <div class="commit__soc">
          <ul>
            <li>
              <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                alt="LinkedIn"
                aria-label="Social network LinkedIn"
              >
                <span class="no-select">
                  <img src="./img/icons/soc_1.svg" alt="" />
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="commit__item">
        <div class="commit__box openModal" data-id="idEvidence">
          <div class="commit__img ibg">
            <img src="./img/content/ambass_2.jpg" alt="" />
          </div>
          <h3 class="tl3">Margarita Solianyk</h3>
          <div class="commit__activity">
            <p>
              Managing Director/ HR Operations Director Ukraine at Luxoft, A DXC
            </p>
          </div>
        </div>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="commit__link"
        >
          <span><img src="./img/icons/conn_2.svg" alt="" /></span>
          LinkedIn
        </a>
        <div class="commit__desc">
          <p>
            Slide2 Our community brings together professionals eager to develop,
            share experiences, and shape the future of the industry. Here,
            you’ll find everything you need for personal and professional
            growth.
          </p>
        </div>
        <div class="commit__soc">
          <ul>
            <li>
              <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                alt="LinkedIn"
                aria-label="Social network LinkedIn"
              >
                <span class="no-select">
                  <img src="./img/icons/soc_1.svg" alt="" />
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="commit__item">
        <div class="commit__box openModal" data-id="idEvidence">
          <div class="commit__img ibg">
            <img src="./img/content/ambass_3.jpg" alt="" />
          </div>
          <h3 class="tl3">Svitlana Vorobey</h3>
          <div class="commit__activity">
            <p>CEO Qween groupe</p>
          </div>
        </div>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="commit__link"
        >
          <span><img src="./img/icons/conn_2.svg" alt="" /></span>
          LinkedIn
        </a>
        <div class="commit__desc">
          <p>
            Slide2 Our community brings together professionals eager to develop,
            share experiences, and shape the future of the industry. Here,
            you’ll find everything you need for personal and professional
            growth.
          </p>
        </div>
        <div class="commit__soc">
          <ul>
            <li>
              <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                alt="LinkedIn"
                aria-label="Social network LinkedIn"
              >
                <span class="no-select">
                  <img src="./img/icons/soc_1.svg" alt="" />
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="commit__item">
        <div class="commit__box openModal" data-id="idEvidence">
          <div class="commit__img ibg">
            <img src="./img/content/ambass_4.jpg" alt="" />
          </div>
          <h3 class="tl3">Katerina Milevska</h3>
          <div class="commit__activity">
            <p>
              Managing Director/ HR Operations Director Ukraine at Luxoft, A DXC
            </p>
          </div>
        </div>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="commit__link"
        >
          <span><img src="./img/icons/conn_2.svg" alt="" /></span>
          LinkedIn
        </a>
        <div class="commit__desc">
          <p>
            Slide2 Our community brings together professionals eager to develop,
            share experiences, and shape the future of the industry. Here,
            you’ll find everything you need for personal and professional
            growth.
          </p>
        </div>
        <div class="commit__soc">
          <ul>
            <li>
              <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                alt="LinkedIn"
                aria-label="Social network LinkedIn"
              >
                <span class="no-select">
                  <img src="./img/icons/soc_1.svg" alt="" />
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="commit__item">
        <div class="commit__box openModal" data-id="idEvidence">
          <div class="commit__img ibg">
            <img src="./img/content/ambass_1.jpg" alt="" />
          </div>
          <h3 class="tl3">Elizaveta Qweentessa</h3>
          <div class="commit__activity">
            <p>
              Managing Director/ HR Operations Director Ukraine at Luxoft, A DXC
              Technology Company
            </p>
          </div>
        </div>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="commit__link"
        >
          <span><img src="./img/icons/conn_2.svg" alt="" /></span>
          LinkedIn
        </a>
        <div class="commit__desc">
          <p>
            Slide2 Our community brings together professionals eager to develop,
            share experiences, and shape the future of the industry. Here,
            you’ll find everything you need for personal and professional
            growth.
          </p>
        </div>
        <div class="commit__soc">
          <ul>
            <li>
              <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                alt="LinkedIn"
                aria-label="Social network LinkedIn"
              >
                <span class="no-select">
                  <img src="./img/icons/soc_1.svg" alt="" />
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="commit__item">
        <div class="commit__box openModal" data-id="idEvidence">
          <div class="commit__img ibg">
            <img src="./img/content/ambass_2.jpg" alt="" />
          </div>
          <h3 class="tl3">Margarita Solianyk</h3>
          <div class="commit__activity">
            <p>
              Managing Director/ HR Operations Director Ukraine at Luxoft, A DXC
            </p>
          </div>
        </div>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="commit__link"
        >
          <span><img src="./img/icons/conn_2.svg" alt="" /></span>
          LinkedIn
        </a>
        <div class="commit__desc">
          <p>
            Slide2 Our community brings together professionals eager to develop,
            share experiences, and shape the future of the industry. Here,
            you’ll find everything you need for personal and professional
            growth.
          </p>
        </div>
        <div class="commit__soc">
          <ul>
            <li>
              <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                alt="LinkedIn"
                aria-label="Social network LinkedIn"
              >
                <span class="no-select">
                  <img src="./img/icons/soc_1.svg" alt="" />
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="commit__item">
        <div class="commit__box openModal" data-id="idEvidence">
          <div class="commit__img ibg">
            <img src="./img/content/ambass_3.jpg" alt="" />
          </div>
          <h3 class="tl3">Svitlana Vorobey</h3>
          <div class="commit__activity">
            <p>CEO Qween groupe</p>
          </div>
        </div>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="commit__link"
        >
          <span><img src="./img/icons/conn_2.svg" alt="" /></span>
          LinkedIn
        </a>
        <div class="commit__desc">
          <p>
            Slide2 Our community brings together professionals eager to develop,
            share experiences, and shape the future of the industry. Here,
            you’ll find everything you need for personal and professional
            growth.
          </p>
        </div>
        <div class="commit__soc">
          <ul>
            <li>
              <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                alt="LinkedIn"
                aria-label="Social network LinkedIn"
              >
                <span class="no-select">
                  <img src="./img/icons/soc_1.svg" alt="" />
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="commit__item">
        <div class="commit__box openModal" data-id="idEvidence">
          <div class="commit__img ibg">
            <img src="./img/content/ambass_4.jpg" alt="" />
          </div>
          <h3 class="tl3">Katerina Milevska</h3>
          <div class="commit__activity">
            <p>
              Managing Director/ HR Operations Director Ukraine at Luxoft, A DXC
            </p>
          </div>
        </div>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="commit__link"
        >
          <span><img src="./img/icons/conn_2.svg" alt="" /></span>
          LinkedIn
        </a>
        <div class="commit__desc">
          <p>
            Slide2 Our community brings together professionals eager to develop,
            share experiences, and shape the future of the industry. Here,
            you’ll find everything you need for personal and professional
            growth.
          </p>
        </div>
        <div class="commit__soc">
          <ul>
            <li>
              <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                alt="LinkedIn"
                aria-label="Social network LinkedIn"
              >
                <span class="no-select">
                  <img src="./img/icons/soc_1.svg" alt="" />
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="commit__item">
        <div class="commit__box openModal" data-id="idEvidence">
          <div class="commit__img ibg">
            <img src="./img/content/ambass_1.jpg" alt="" />
          </div>
          <h3 class="tl3">Elizaveta Qweentessa</h3>
          <div class="commit__activity">
            <p>
              Managing Director/ HR Operations Director Ukraine at Luxoft, A DXC
              Technology Company
            </p>
          </div>
        </div>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="commit__link"
        >
          <span><img src="./img/icons/conn_2.svg" alt="" /></span>
          LinkedIn
        </a>
        <div class="commit__desc">
          <p>
            Slide2 Our community brings together professionals eager to develop,
            share experiences, and shape the future of the industry. Here,
            you’ll find everything you need for personal and professional
            growth.
          </p>
        </div>
        <div class="commit__soc">
          <ul>
            <li>
              <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                alt="LinkedIn"
                aria-label="Social network LinkedIn"
              >
                <span class="no-select">
                  <img src="./img/icons/soc_1.svg" alt="" />
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="commit__item">
        <div class="commit__box openModal" data-id="idEvidence">
          <div class="commit__img ibg">
            <img src="./img/content/ambass_2.jpg" alt="" />
          </div>
          <h3 class="tl3">Margarita Solianyk</h3>
          <div class="commit__activity">
            <p>
              Managing Director/ HR Operations Director Ukraine at Luxoft, A DXC
            </p>
          </div>
        </div>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="commit__link"
        >
          <span><img src="./img/icons/conn_2.svg" alt="" /></span>
          LinkedIn
        </a>
        <div class="commit__desc">
          <p>
            Slide2 Our community brings together professionals eager to develop,
            share experiences, and shape the future of the industry. Here,
            you’ll find everything you need for personal and professional
            growth.
          </p>
        </div>
        <div class="commit__soc">
          <ul>
            <li>
              <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                alt="LinkedIn"
                aria-label="Social network LinkedIn"
              >
                <span class="no-select">
                  <img src="./img/icons/soc_1.svg" alt="" />
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="commit__item">
        <div class="commit__box openModal" data-id="idEvidence">
          <div class="commit__img ibg">
            <img src="./img/content/ambass_3.jpg" alt="" />
          </div>
          <h3 class="tl3">Svitlana Vorobey</h3>
          <div class="commit__activity">
            <p>CEO Qween groupe</p>
          </div>
        </div>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="commit__link"
        >
          <span><img src="./img/icons/conn_2.svg" alt="" /></span>
          LinkedIn
        </a>
        <div class="commit__desc">
          <p>
            Slide2 Our community brings together professionals eager to develop,
            share experiences, and shape the future of the industry. Here,
            you’ll find everything you need for personal and professional
            growth.
          </p>
        </div>
        <div class="commit__soc">
          <ul>
            <li>
              <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                alt="LinkedIn"
                aria-label="Social network LinkedIn"
              >
                <span class="no-select">
                  <img src="./img/icons/soc_1.svg" alt="" />
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="commit__item">
        <div class="commit__box openModal" data-id="idEvidence">
          <div class="commit__img ibg">
            <img src="./img/content/ambass_4.jpg" alt="" />
          </div>
          <h3 class="tl3">Katerina Milevska</h3>
          <div class="commit__activity">
            <p>
              Managing Director/ HR Operations Director Ukraine at Luxoft, A DXC
            </p>
          </div>
        </div>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="commit__link"
        >
          <span><img src="./img/icons/conn_2.svg" alt="" /></span>
          LinkedIn
        </a>
        <div class="commit__desc">
          <p>
            Slide2 Our community brings together professionals eager to develop,
            share experiences, and shape the future of the industry. Here,
            you’ll find everything you need for personal and professional
            growth.
          </p>
        </div>
        <div class="commit__soc">
          <ul>
            <li>
              <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                alt="LinkedIn"
                aria-label="Social network LinkedIn"
              >
                <span class="no-select">
                  <img src="./img/icons/soc_1.svg" alt="" />
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <div class="commit__pagin">
      <button type="button" class="addMore">Показати ще</button>
    </div>
  </div>
</section>
