<section class="keys">
  <div class="keys__container">
    <div class="keys__body">
      <div class="keys__heading">
        <h2 class="keys__tl">
          Ключові<br />
          <span>переваги</span>
        </h2>
      </div>

      <ul class="keys__list">
        <li>
          <span class="no-select">
            <img src="./img/icons/aud_7.svg" alt="" />
          </span>
          <h3 class="tl4 cw">Практичні кейси</h3>
          <div class="txt-def cw">
            <p>
              Сайт рибат екст допоможе дизайнеру, верстальнику, вебмайстру
              згенерувати кілька абзаців більш-менш осмисленого тексту риби
              українською мовою, а оратору-початківцю відточити звичку публічних
              виступів у домашніх умовах. Під час створення генератора ми
              використовували невідомий універсальний код промов. Текст
              генерується абзацами випадково від двох до десяти речень в абзаці,
              що дозволяє зробити текст більш привабливим і живим для
              візуально-слухового сприйняття.
            </p>
          </div>
        </li>
        <li>
          <span class="no-select">
            <img src="./img/icons/aud_8.svg" alt="" />
          </span>
          <h3 class="tl4 cw">EXPO</h3>
          <div class="txt-def cw">
            <p>
              Сайт рибат екст допоможе дизайнеру, верстальнику, вебмайстру
              згенерувати кілька абзаців більш-менш осмисленого тексту риби
              українською мовою, а оратору-початківцю відточити звичку публічних
              виступів у домашніх умовах. Під час створення генератора ми
              використовували невідомий універсальний код промов. Текст
              генерується абзацами випадково від двох до десяти речень в абзаці,
              що дозволяє зробити текст більш привабливим і живим для
              візуально-слухового сприйняття.
            </p>
          </div>
        </li>
        <li>
          <span class="no-select">
            <img src="./img/icons/aud_9.svg" alt="" />
          </span>
          <h3 class="tl4 cw">Нетворкінг</h3>
          <div class="txt-def cw">
            <p>
              Сайт рибат екст допоможе дизайнеру, верстальнику, вебмайстру
              згенерувати кілька абзаців більш-менш осмисленого тексту риби
              українською мовою, а оратору-початківцю відточити звичку публічних
              виступів у домашніх умовах. Під час створення генератора ми
              використовували невідомий універсальний код промов. Текст
              генерується абзацами випадково від двох до десяти речень в абзаці,
              що дозволяє зробити текст більш привабливим і живим для
              візуально-слухового сприйняття.
            </p>
          </div>
        </li>
        <li>
          <span class="no-select">
            <img src="./img/icons/aud_10.svg" alt="" />
          </span>
          <h3 class="tl4 cw">Ексклюзивні дискусії</h3>
          <div class="txt-def cw">
            <p>
              Сайт рибат екст допоможе дизайнеру, верстальнику, вебмайстру
              згенерувати кілька абзаців більш-менш осмисленого тексту риби
              українською мовою, а оратору-початківцю відточити звичку публічних
              виступів у домашніх умовах. Під час створення генератора ми
              використовували невідомий універсальний код промов. Текст
              генерується абзацами випадково від двох до десяти речень в абзаці,
              що дозволяє зробити текст більш привабливим і живим для
              візуально-слухового сприйняття.
            </p>
          </div>
        </li>
      </ul>

      <button type="button" class="btn-def wide openModal" data-id="idRegistr">
        Зареєструватися
      </button>
    </div>
  </div>
</section>
