<section class="tickets" id="tickets">
  <div class="tickets__container">
    <div class="tickets__body">
      <div class="tickets__fltr no-select" aria-hidden="true">
        <img src="./img/decor/comm_fltr.svg" alt="" />
      </div>

      <div class="tickets__heading">
        <p class="tickets__subtl">Квитки</p>
        <h2 class="tickets__tl">
          HR Innovation<br />
          Summit
        </h2>
      </div>

      <div class="tickets__period">
        <div class="tickets__box">
          <label>
            <input type="radio" name="period" value="online format" checked />
            <p>Online</p>
          </label>
          <label>
            <input type="radio" name="period" value="offline format" />
            <p>Offline</p>
          </label>
        </div>
      </div>

      <ul class="tickets__cards" id="online format">
        <li class="card-plan isClear">
          <h3 class="card-plan__name">Standart</h3>
          <p class="card-plan__discount">2 000₴</p>
          <h4 class="card-plan__price">1500₴</h4>
          <p class="card-plan__term">Знижка діє до 27.02</p>
          <p class="card-plan__options">Что включає тариф:</p>
          <ul class="card-plan__list">
            <li>Особиста участь в івенті в Києві</li>
            <li>Відвідування Expo-зони</li>
            <li>Живі виступи топових спікерів</li>
            <li>Доступ до презентацій після заходу</li>
            <li>Нетворкінг із колегами та експертами</li>
          </ul>
          <button type="button" class="btn-def openModal" data-id="idRegistr">
            Зареєструватися
          </button>
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="btn-def trnspr"
          >
            Оплата від юридичної особи
          </a>
        </li>
        <li class="card-plan isYellow">
          <h3 class="card-plan__name">Standart</h3>
          <p class="card-plan__discount">2 000₴</p>
          <h4 class="card-plan__price">1500₴</h4>
          <p class="card-plan__term">Знижка діє до 27.02</p>
          <p class="card-plan__options">Что включає тариф:</p>
          <ul class="card-plan__list">
            <li>Особиста участь в івенті в Києві</li>
            <li>Відвідування Expo-зони</li>
            <li>Живі виступи топових спікерів</li>
            <li>Доступ до презентацій після заходу</li>
            <li>Нетворкінг із колегами та експертами</li>
          </ul>
          <button type="button" class="btn-def openModal" data-id="idRegistr">
            Зареєструватися
          </button>
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="btn-def trnspr"
          >
            Оплата від юридичної особи
          </a>
        </li>
        <li class="card-plan isWhite">
          <h3 class="card-plan__name">Standart</h3>
          <p class="card-plan__discount">2 000₴</p>
          <h4 class="card-plan__price">1500₴</h4>
          <p class="card-plan__term">Знижка діє до 27.02</p>
          <p class="card-plan__options">Что включає тариф:</p>
          <ul class="card-plan__list">
            <li>Особиста участь в івенті в Києві</li>
            <li>Відвідування Expo-зони</li>
            <li>Живі виступи топових спікерів</li>
            <li>Доступ до презентацій після заходу</li>
            <li>Нетворкінг із колегами та експертами</li>
          </ul>
          <button type="button" class="btn-def openModal" data-id="idRegistr">
            Зареєструватися
          </button>
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="btn-def trnspr"
          >
            Оплата від юридичної особи
          </a>
        </li>
      </ul>
      <ul class="tickets__cards is-hidden" id="offline format">
        <li class="card-plan isClear">
          <h3 class="card-plan__name">Standart</h3>
          <p class="card-plan__discount">2 000₴</p>
          <h4 class="card-plan__price">3000₴</h4>
          <p class="card-plan__term">Знижка діє до 27.02</p>
          <p class="card-plan__options">Что включає тариф:</p>
          <ul class="card-plan__list">
            <li>Особиста участь в івенті в Києві</li>
            <li>Відвідування Expo-зони</li>
            <li>Живі виступи топових спікерів</li>
            <li>Доступ до презентацій після заходу</li>
            <li>Нетворкінг із колегами та експертами</li>
          </ul>
          <button type="button" class="btn-def openModal" data-id="idRegistr">
            Зареєструватися
          </button>
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="btn-def trnspr"
          >
            Оплата від юридичної особи
          </a>
        </li>
        <li class="card-plan isYellow">
          <h3 class="card-plan__name">Standart</h3>
          <p class="card-plan__discount">2 000₴</p>
          <h4 class="card-plan__price">3000₴</h4>
          <p class="card-plan__term">Знижка діє до 27.02</p>
          <p class="card-plan__options">Что включає тариф:</p>
          <ul class="card-plan__list">
            <li>Особиста участь в івенті в Києві</li>
            <li>Відвідування Expo-зони</li>
            <li>Живі виступи топових спікерів</li>
            <li>Доступ до презентацій після заходу</li>
            <li>Нетворкінг із колегами та експертами</li>
          </ul>
          <button type="button" class="btn-def openModal" data-id="idRegistr">
            Зареєструватися
          </button>
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="btn-def trnspr"
          >
            Оплата від юридичної особи
          </a>
        </li>
        <li class="card-plan isWhite">
          <h3 class="card-plan__name">Standart</h3>
          <p class="card-plan__discount">2 000₴</p>
          <h4 class="card-plan__price">3000₴</h4>
          <p class="card-plan__term">Знижка діє до 27.02</p>
          <p class="card-plan__options">Что включає тариф:</p>
          <ul class="card-plan__list">
            <li>Особиста участь в івенті в Києві</li>
            <li>Відвідування Expo-зони</li>
            <li>Живі виступи топових спікерів</li>
            <li>Доступ до презентацій після заходу</li>
            <li>Нетворкінг із колегами та експертами</li>
          </ul>
          <button type="button" class="btn-def openModal" data-id="idRegistr">
            Зареєструватися
          </button>
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="btn-def trnspr"
          >
            Оплата від юридичної особи
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
