.mobmenu {
  display: none;
}

@media screen and (max-width: 960px) {
  .mobmenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100 - 100%);
    background-color: var(--cu);
    transform: translateX(100%);

    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-overflow-scrolling: touch;

    &::before {
      content: "";
      position: absolute;
      top: -100%;
      left: 0;
      background-color: var(--cu);
      width: 100%;
      height: 100%;
    }

    &.isOpened {
      transform: translateX(0);
    }

    &__body {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
    }
    &__container {
      width: 100%;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      padding-top: 0.9375rem;
      padding-bottom: 2rem;
    }
  }
}
