.header__body {
  .navmenu {
    flex: 0 1 auto;

    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 0.875rem 1.875rem;
      & > li,
      .menu-item {
        overflow: hidden;
        padding: 0.35rem 0;
        &.current-menu-item {
          & > a {
            color: var(--cl);
            &::after,
            &::before {
              opacity: 1;
            }
          }
        }
        a {
          position: relative;
          font-weight: 700;
          font-size: 0.75rem;
          line-height: 1.41667;
          transition: all 0.15s ease-in;
          &:hover {
            color: var(--cl);
            &::after,
            &::before {
              opacity: 1;
            }
          }
          &::after,
          &::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%) translateY(15%) rotate(-1deg);
            width: calc(100% + 2rem);
            height: 100%;
            border: 0.0625rem solid var(--cl);
            border-radius: 50%;
            opacity: 0;
            transition: all 0.15s ease-in;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .header__body {
    .navmenu {
      display: none;
    }
  }

  .mobmenu {
    .navmenu {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5625rem 0;
      margin-bottom: 4rem;

      &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5625rem 0;
        & > li,
        .menu-item {
          &.current-menu-item {
            & > a {
              color: var(--cl);
            }
          }
          a {
            display: block;
            font-weight: 700;
            text-align: center;
            transition: all 0.15s ease-in;
          }
        }
      }
    }
  }
}
