.header__main {
  .navmenu {
    display: flex;
    gap: 0 3rem;
    align-items: center;

    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 0.9375rem 1.875rem;
      & > li,
      .menu-item {
        overflow: hidden;
        padding: 0.35rem 0;
        &.current-menu-item {
          & > a {
            color: var(--cy);
            &::after,
            &::before {
              opacity: 1;
            }
          }
        }
        a {
          position: relative;
          font-weight: 700;
          font-size: 0.75rem;
          line-height: 1.41667;
          color: var(--cw);
          transition: all 0.15s ease-in;
          &:hover {
            color: var(--cy);
            &::after,
            &::before {
              opacity: 1;
            }
          }
          &::after,
          &::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%) translateY(15%) rotate(-1deg);
            width: calc(100% + 2rem);
            height: 100%;
            border: 0.0625rem solid var(--cy);
            border-radius: 50%;
            opacity: 0;
            transition: all 0.15s ease-in;
          }
        }
      }
    }

    &__box {
      display: flex;
      align-items: center;
      gap: 0 1.75rem;
    }
    &__lang {
      & > li {
        .sub-menu {
          display: flex;
          gap: 0 0.8125rem;
          & > li {
            &.current-lang {
              & > a {
                opacity: 1;
              }
            }
            & > a {
              display: block;
              font-weight: 700;
              font-size: 0.8125rem;
              text-transform: uppercase;
              color: var(--cw);
              opacity: 0.3;
              transition: all 0.15s ease-in;
              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .header__main {
    .navmenu {
      display: none;
    }
  }

  .mobmenu {
    .navmenu {
      padding: 0.9194rem 0 6rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5625rem 0;

      &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5625rem 0;
        & > li,
        .menu-item {
          &.current-menu-item {
            & > a {
              color: var(--cy);
            }
          }
          a {
            font-weight: 700;
            color: var(--cw);
            text-align: center;
            transition: all 0.15s ease-in;
          }
        }
      }

      &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5625rem 0;
      }

      &__lang {
        & > li {
          .sub-menu {
            display: flex;
            gap: 0 1.25rem;
            & > li {
              &.current-lang {
                & > a {
                  opacity: 1;
                }
              }
              & > a {
                display: block;
                font-weight: 700;
                color: var(--cw);
                opacity: 0.3;
                transition: all 0.15s ease-in;
              }
            }
          }
        }
      }
    }
  }
}
