<div class="modal evidence" id="idEvidence">
  <div class="modal__container containerModal">
    <div class="modal__body">
      <div class="evidence__ava ibg">
        <img src="" alt="" />
      </div>
      <button
        type="button"
        class="modal__close closeModal"
        aria-label="Close modal window"
      ></button>

      <div class="evidence__wrapp">
        <h2 class="evidence__tl"></h2>
        <div class="evidence__activity">
          <p></p>
        </div>
        <div class="txt-def">
          <p></p>
        </div>
        <div class="evidence__box">
          <div class="evidence__soc">
            <ul>
              <li>
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                  alt="LinkedIn"
                  aria-label="Social network LinkedIn"
                >
                  <span class="no-select">
                    <img src="./img/icons/soc_1.svg" alt="" />
                  </span>
                </a>
              </li>
              <li>
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                  alt="YouTube"
                  aria-label="Social network YouTube"
                >
                  <span class="no-select">
                    <img src="./img/icons/soc_2.svg" alt="" />
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
