<div class="modal registr" id="idRegistr">
  <div class="modal__container containerModal">
    <div class="modal__body">
      <button
        type="button"
        class="modal__close closeModal"
        aria-label="Close modal window"
      ></button>

      <div class="registr__form">
        <h2 class="tl3">Зареєструватися</h2>
        <form class="form cl-gray submitForm" id="registrForm">
          <label class="label__def">
            <span class="input__def">
              <input type="text" placeholder="Ваше ім’я" data-required="true" />
            </span>
            <span class="required"></span>
          </label>
          <label class="label__def">
            <span class="input__def">
              <input type="text" placeholder="Прізвище" data-required="true" />
            </span>
            <span class="required"></span>
          </label>
          <label class="label__def">
            <span class="input__def">
              <input
                type="email"
                placeholder="Email (якщо можна особистий)"
                data-required="true"
              />
            </span>
            <span class="required"></span>
          </label>
          <label class="label__def">
            <span class="input__def">
              <input
                type="tel"
                placeholder="Номер телефону"
                data-required="true"
              />
            </span>
            <span class="required"></span>
          </label>
          <label class="label__def">
            <span class="input__def">
              <input type="text" placeholder="Позиція" data-required="true" />
            </span>
            <span class="required"></span>
          </label>
          <label class="label__def">
            <span class="input__def">
              <input type="text" placeholder="Компанія" data-required="true" />
            </span>
            <span class="required"></span>
          </label>
          <div class="registr__btns">
            <a
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              class="btn-def wide"
            >
              Оплатити зараз
            </a>
            <button type="submit" class="btn-def trnspr">
              Зареєструватися
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
