<div class="modal signup" id="idSignup">
  <div class="modal__container containerModal">
    <div class="modal__body">
      <button
        type="button"
        class="modal__close closeModal"
        aria-label="Close modal window"
      ></button>

      <div class="signup__form">
        <h2 class="tl3">Join our test group!</h2>
        <form class="form cl-gray submitForm" id="signupForm">
          <label class="label__def">
            <span class="input__def">
              <input
                type="text"
                placeholder="First name"
                data-required="true"
              />
            </span>
            <span class="required"></span>
          </label>
          <label class="label__def">
            <span class="input__def">
              <input type="text" placeholder="Last name" data-required="true" />
            </span>
            <span class="required"></span>
          </label>
          <label class="label__def">
            <span class="input__def">
              <input
                type="email"
                placeholder="Email (if possible a personal one)"
                data-required="true"
              />
            </span>
            <span class="required"></span>
          </label>
          <label class="label__def">
            <span class="input__def">
              <input
                type="tel"
                placeholder="Phone number"
                data-required="true"
              />
            </span>
            <span class="required"></span>
          </label>
          <label class="label__def">
            <span class="input__def">
              <input type="text" placeholder="Position" data-required="true" />
            </span>
            <span class="required"></span>
          </label>
          <label class="label__def">
            <span class="input__def">
              <input type="text" placeholder="Company" data-required="true" />
            </span>
            <span class="required"></span>
          </label>
          <button type="submit" class="btn-def">Registration</button>
        </form>
      </div>
    </div>
  </div>
</div>
