.sec-group {
  position: relative;
}
.bg-green {
  background-color: var(--cl);
}
.top-radius {
  border-radius: 4.375rem 4.375rem 0 0;
  padding-top: 8rem;
}
.bottom-radius {
  border-radius: 0 0 4.375rem 4.375rem;
  padding-bottom: 8rem;
}
.top-pseudo {
  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    transform: translateY(-99%);
    width: 100%;
    height: 7.25rem;
    background-color: var(--cl);
  }
}

.tl1,
.tl2,
.tl3,
.tl4 {
  &.cw {
    color: var(--cw);
  }
}

.tl1 {
  font-family: var(--ff3);
  font-weight: 600;
  font-size: 14.75rem;
  line-height: 0.8261;
  color: var(--cg);
}
.tl2 {
  font-family: var(--ff2);
  font-weight: 400;
  font-size: 5.625rem;
  line-height: 0.87778;
}
.tl3 {
  font-family: var(--ff2);
  font-weight: 400;
  font-size: 2.875rem;
  line-height: 0.95652;
}
.tl4 {
  font-family: var(--ff2);
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.21875;
}

.txt-def {
  &.cw {
    color: var(--cw);
  }
}

.btn-def {
  flex-shrink: 0;
  width: fit-content;
  display: block;
  text-align: center;
  border-radius: 1.25rem;
  padding: 1.4375rem 2.4375rem;
  color: var(--cw);
  background-color: var(--cl);
  border: 0.0625rem solid var(--cl);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.35714;
  transition: all 0.15s ease-in;
  &:hover {
    color: var(--cy);
    background-color: var(--cm);
    border-color: var(--cm);
  }
  &.alt {
    font-size: 0.9375rem;
    line-height: 1.53;
    padding: 0.7813rem 1.9375rem;
    border-radius: 0.75rem;
  }
  &.wide {
    padding: 1.4375rem 3.9375rem;
  }
  &.trnspr {
    color: var(--cm);
    background-color: transparent;
    border-color: var(--cm);
    &:hover {
      color: var(--cy);
      background-color: var(--cm);
    }
  }
  &.bg-yell {
    background-color: var(--cy);
    border-color: var(--cy);
    color: var(--cm);
    &:hover {
      color: var(--cy);
      border-color: var(--cm);
      background-color: var(--cm);
    }
  }
}

.ico-decor {
  position: absolute;
  top: 0;
  left: 7.5rem;
  transform: translateY(-50%);
  width: 7.875rem;
  img {
    width: 100%;
  }
}

.tabs__cont {
  display: none;
  &.isActive {
    display: block;
  }
}

@media screen and (max-width: 960px) {
  .bottom-radius {
    border-radius: 0 0 0.9375rem 0.9375rem;
    padding-bottom: 1.875rem;
  }
  .top-pseudo {
    &::before {
      height: 1.75rem;
    }
  }

  .tl1 {
    font-size: 4.5625rem;
    line-height: normal;
  }
  .tl2 {
    font-size: 2rem;
    line-height: 1.0625;
  }
  .tl3 {
    font-size: 1.75rem;
    line-height: 1.10714;
  }
  .tl4 {
    font-size: 1.375rem;
    line-height: 1.04545;
  }

  .txt-def {
    font-size: 0.875rem;
  }

  .btn-def {
    border-radius: 0.75rem;
    padding: 0.8125rem 1.9375rem;

    &.alt {
      border-radius: 0.5rem;
      padding: 0.8125rem 1.9375rem;
      line-height: 1.33;
    }
    &.wide {
      padding: 0.8438rem 1.9375rem;
    }
    &.mob-wide {
      width: 100%;
      max-width: 20rem;
    }
  }

  .ico-decor {
    left: 0.9375rem;
    width: 3.5rem;
  }
}
