body {
  /* Colors */
  --cm: #222;
  --cb: #000;
  --cd: #e0e0e0;
  --cd2: #616161;
  --cd3: #e2e2e2;
  --cw: #fff;
  --cw2: #fbf5e7;
  --cw3: #edfff2;
  --cy: #f4fd19;
  --cg: #ccfe8d;
  --cg2: #2dbe64;
  --cl: #00c8a3;
  --cl2: #25debc;
  --cl3: #0edbb5;
  --co: #fdb481;
  --co2: #c09e85;
  --cc: #1870b1;
  --cr: red;

  /* Fonts */
  --ff1: "Montserrat", sans-serif;
  --ff2: "Forum", sans-serif;
  --ff3: "PlayfairDisplay", sans-serif;
}
