body {
  /* Colors */
  --cm: #222;
  --cb: #000;

  --cd: #e0e0e0;
  --cd2: #616161;
  --cd3: #e2e2e2;

  --cu: #f1fdf1;
  --cu2: #f8fbee;

  --cw: #fff;
  --cw2: #fbf5e7;

  --cy: #f4fd19;

  --cg: #ccfe8d;

  --cl: #00c8a3;
  --cl2: #31bacd;

  --co: #fdb481;

  --cr: red;

  /* Fonts */
  --ff1: "Montserrat", sans-serif;
  --ff2: "Forum", sans-serif;
  --ff3: "PlayfairDisplay", sans-serif;
}
