.evidence {
  .modal__body {
    max-width: 41.25rem;
  }
  &__ava {
    position: absolute;
    top: -3.125rem;
    left: -6.5625rem;
    width: 13.125rem;
    height: 13.125rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--cl);
  }

  &__wrapp {
    display: flex;
    flex-direction: column;
    gap: 1.5625rem 0;
  }

  &__tl {
    font-family: var(--ff2);
    font-weight: 400;
    font-size: 4.125rem;
    line-height: 0.90909;
  }
  &__activity {
    font-size: 1.125rem;
    line-height: 1.33333;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 0.9375rem;
    .btn-def {
      flex-shrink: 0;
    }
  }
  &__soc {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0.9375rem;
      li {
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 0.0625rem solid var(--cm);
          border-radius: 0.75rem;
          padding: 1.25rem;
          transition: all 0.15s ease-in;
          span {
            width: 1rem;
            img {
              width: 100%;
            }
          }
          &:hover {
            background-color: var(--cy);
            border-color: transparent;
          }
        }
      }
    }
  }

  &__desc {
    & > * {
      margin-top: 0.375rem;

      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      text-decoration: underline !important;
      text-underline-position: under;
      text-decoration-thickness: 1px !important;
    }

    b,
    strong {
      font-weight: 600;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 600;
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 1.33;
      margin-top: 0.75rem;
      margin-bottom: 0.375rem;
    }

    ul {
      margin-left: 0.75rem;

      li {
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
        list-style: disc;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    ol {
      padding-left: 1.25rem;
      margin-left: 0;

      li {
        margin-bottom: 0.5rem;
        list-style: decimal;
        margin-left: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .modal {
    &__body {
      padding-left: 8.125rem;
    }
  }
}

@media screen and (max-width: 960px) {
  .evidence {
    &__ava {
      top: -3.125rem;
      left: 0.9375rem;
      width: 6.25rem;
      height: 6.25rem;
    }

    &__wrapp {
      gap: 0.9375rem 0;
    }

    &__tl {
      font-size: 2.5rem;
      line-height: 1;
    }

    &__box {
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
      gap: 0.75rem 0;
      .btn-def {
        flex-shrink: 0;
        width: 100%;
      }
    }
    &__soc {
      ul {
        justify-content: center;
        li {
          width: 100%;
          max-width: calc((100% - 1 * 0.9375rem) / 2);

          a {
            border-radius: 0.5rem;
            padding: 0.875rem;
          }
        }
      }
    }

    .modal {
      &__body {
        padding: 4.375rem 1.25rem 1.25rem 1.25rem;
      }
      &__close {
        top: 2.125rem;
        right: 2.125rem;
      }
    }
  }
}
