<section class="about" id="about">
  <div class="about__container wide">
    <div class="about__body">
      <span class="ico-decor no-select">
        <img src="./img/decor/dec_3.png" alt="" />
      </span>

      <div class="about__main">
        <div class="about__heading">
          <h2 class="tl2">
            <span>Про</span> HR Marketing & Employer Branding Conference
          </h2>

          <h3 class="tl3">
            Це перша в Україні практична кейс-конференція з маркетингу на ринку
            талантів, мета якої:
          </h3>
        </div>

        <div class="about__content">
          <div class="about-card">
            <div class="commit__img ibg">
              <img src="./img/content/commit_1.jpg" alt="" />
            </div>
            <h3 class="tl3">Оксана Кіхтенко</h3>
            <div class="commit__activity">
              <p>CEO Because Talents Matter &amp; CEO Global IT HR Forum</p>
            </div>
            <a
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              class="commit__link"
            >
              <span><img src="./img/icons/soc_1.svg" alt="" /></span>
              LinkedIn
            </a>
          </div>

          <div class="about__article">
            <span class="article-hook no-select">
              <img src="./img/icons/hook.svg" alt="" />
            </span>
            <div>
              <h4>
                Четвертий рік поспіль ми збираємо найсильніші кейси з
                HR-маркетингу та бренду роботодавця в Україні. Але не заради
                гарних слайдів чи презентацій.
              </h4>
              <p>
                Ми показуємо лише ті кейси, які реально вплинули на бізнес:
                змінили корпоративну культуру, посилили залучення кандидатів або
                знизили витрати компанії.
              </p>
              <p>
                Наша місія — надихати спільноту. Часто саме невеликі команди або
                компанії без великих бюджетів створюють проривні кейси, які
                варто показати всій країні.
              </p>
              <p>
                Ми віримо у рівність можливостей. У нас діє суворий конкурсний
                відбір, але кожна компанія має шанс подати свій кейс і бути
                почутою.
              </p>
              <p>
                Ми принципово уникаємо “води” — і саме тому обрали формат
                практичних кейсів, який за чотири роки довів свою ефективність.
                Це — знак якості та професійної глибини.
              </p>
              <p>
                Ми презентуємо лише ті кейси, які дійсно мали вплив на бізнес.
                Це — наш головний критерій відбору.
              </p>
            </div>

            <button
              type="button"
              class="btn-def bg-yell wide openModal"
              data-id="idRegistr"
            >
              Зареєструватися
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
