<section class="ambass" id="ambass">
  <div class="ambass__container">
    <div class="ambass__wrapp">
      <div class="ambass__fltr not-select" aria-hidden="true">
        <img src="./img/decor/ambass_fltr.svg" alt="" />
      </div>

      <div class="ambass__body">
        <div class="ambass__heading">
          <p class="ambass__subtl">Regional</p>
          <h2 class="ambass__tl">Ambassadors</h2>
        </div>

        <div class="ambass__splide">
          <div class="splide">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide">
                  <div class="ambass__box openModal" data-id="idEvidence">
                    <div class="ambass__img ibg">
                      <img src="./img/content/ambass_1.jpg" alt="" />
                    </div>
                    <h3 class="tl3">Elizaveta Qweentessa</h3>
                  </div>
                  <a
                    href="#"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="ambass__link"
                  >
                    <span><img src="./img/icons/conn.svg" alt="" /></span>
                    Let's Connect
                  </a>
                  <div class="ambass__desc">
                    <p>
                      Slide1 Our community brings together professionals eager
                      to develop, share experiences, and shape the future of the
                      industry. Here, you’ll find everything you need for
                      personal and professional growth.
                    </p>
                  </div>
                  <div class="ambass__soc">
                    <ul>
                      <li>
                        <a
                          href="#"
                          target="_blank"
                          rel="noopener noreferrer"
                          alt="LinkedIn"
                          aria-label="Social network LinkedIn"
                        >
                          <span class="no-select">
                            <img src="./img/icons/soc_1.svg" alt="" />
                          </span>
                        </a>
                      </li>
                      <li>
                        <a
                          href="#"
                          target="_blank"
                          rel="noopener noreferrer"
                          alt="YouTube"
                          aria-label="Social network YouTube"
                        >
                          <span class="no-select">
                            <img src="./img/icons/soc_2.svg" alt="" />
                          </span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="ambass__box openModal" data-id="idEvidence">
                    <div class="ambass__img ibg">
                      <img src="./img/content/ambass_2.jpg" alt="" />
                    </div>
                    <h3 class="tl3">Margarita Solianyk</h3>
                    <div class="ambass__activity">
                      <p>CEO Qween groupe</p>
                    </div>
                  </div>
                  <a
                    href="#"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="ambass__link"
                  >
                    <span><img src="./img/icons/conn.svg" alt="" /></span>
                    Let's Connect
                  </a>
                  <div class="ambass__desc">
                    <p>
                      Slide2 Our community brings together professionals eager
                      to develop, share experiences, and shape the future of the
                      industry. Here, you’ll find everything you need for
                      personal and professional growth.
                    </p>
                  </div>
                  <div class="ambass__soc">
                    <ul>
                      <li>
                        <a
                          href="#"
                          target="_blank"
                          rel="noopener noreferrer"
                          alt="LinkedIn"
                          aria-label="Social network LinkedIn"
                        >
                          <span class="no-select">
                            <img src="./img/icons/soc_1.svg" alt="" />
                          </span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="ambass__box openModal" data-id="idEvidence">
                    <div class="ambass__img ibg">
                      <img src="./img/content/ambass_3.jpg" alt="" />
                    </div>
                    <h3 class="tl3">Svitlana Vorobey</h3>
                    <div class="ambass__activity">
                      <p>CEO Qween groupe</p>
                    </div>
                  </div>
                  <a
                    href="#"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="ambass__link"
                  >
                    <span><img src="./img/icons/conn.svg" alt="" /></span>
                    Let's Connect
                  </a>
                  <div class="ambass__desc">
                    <p>
                      Slide3 Our community brings together professionals eager
                      to develop, share experiences, and shape the future of the
                      industry. Here, you’ll find everything you need for
                      personal and professional growth.
                    </p>
                  </div>
                  <div class="ambass__soc">
                    <ul>
                      <li>
                        <a
                          href="#"
                          target="_blank"
                          rel="noopener noreferrer"
                          alt="YouTube"
                          aria-label="Social network YouTube"
                        >
                          <span class="no-select">
                            <img src="./img/icons/soc_2.svg" alt="" />
                          </span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="ambass__box openModal" data-id="idEvidence">
                    <div class="ambass__img ibg">
                      <img src="./img/content/ambass_4.jpg" alt="" />
                    </div>
                    <h3 class="tl3">Katerina Milevska</h3>
                    <div class="ambass__activity">
                      <p>CEO Qween groupe</p>
                    </div>
                  </div>
                  <a
                    href="#"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="ambass__link"
                  >
                    <span><img src="./img/icons/conn.svg" alt="" /></span>
                    Let's Connect
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="arrows">
            <div class="arrows__body">
              <button
                type="button"
                class="arrows__prev"
                aria-label="Arrows prev"
              ></button>
              <button
                type="button"
                class="arrows__next"
                aria-label="Arrows next"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
