<section class="audience">
  <div class="audience__container">
    <div class="audience__body">
      <div class="audience__heading">
        <p class="audience__subtl">Together for Better</p>
        <h2 class="audience__tl">
          BTM Community is for <span>those who</span>
        </h2>
      </div>
      <ul class="audience__list">
        <li>
          <span class="no-select">
            <img src="./img/icons/aud_1.svg" alt="" />
          </span>
          <h3 class="tl4 cw">
            Heads of HR<br />
            and Recruitment
          </h3>
          <div class="txt-def cw">
            <p>
              Professionals leading HR and recruitment teams who aim to enhance
              their skills, stay ahead of trends and share expertise
            </p>
          </div>
        </li>
        <li>
          <span class="no-select">
            <img src="./img/icons/aud_2.svg" alt="" />
          </span>
          <h3 class="tl4 cw">
            Mid-Level HR<br />
            and Recruitment Specialists
          </h3>
          <div class="txt-def cw">
            <p>
              Professionals seeking to sharpen their skills, exchange insights,
              and grow into leadership roles
            </p>
          </div>
        </li>
        <li>
          <span class="no-select">
            <img src="./img/icons/aud_3.svg" alt="" />
          </span>
          <h3 class="tl4 cw">
            Mentors<br />
            and Coaches
          </h3>
          <div class="txt-def cw">
            <p>
              Experienced professionals who are passionate about sharing their
              expertise, guiding others, and fostering growth within the HR and
              recruitment community
            </p>
          </div>
        </li>
        <li>
          <span class="no-select">
            <img src="./img/icons/aud_4.svg" alt="" />
          </span>
          <h3 class="tl4 cw">
            Event<br />
            Organizers
          </h3>
          <div class="txt-def cw">
            <p>
              Individuals or teams creating impactful HR and recruitment events
              looking to connect with like-minded professionals and industry
              experts
            </p>
          </div>
        </li>
        <li>
          <span class="no-select">
            <img src="./img/icons/aud_5.svg" alt="" />
          </span>
          <h3 class="tl4 cw">
            CEOs<br />
            of IT Startups
          </h3>
          <div class="txt-def cw">
            <p>
              Leaders eager to test their products, receive feedback, and
              explore innovative HR and recruitment solutions
            </p>
          </div>
        </li>
        <li>
          <span class="no-select">
            <img src="./img/icons/aud_6.svg" alt="" />
          </span>
          <h3 class="tl4 cw">
            Leadership-Driven<br />
            Specialists
          </h3>
          <div class="txt-def cw">
            <p>
              Individuals focused on mastering strategic decision-making and
              leading HR teams toward measurable results
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
