<section class="case" id="case">
  <div class="case__container">
    <div class="case__wrapp">
      <div class="case__decor no-select" aria-hidden="true">
        <img src="./img/decor/dec_1.png" alt="" />
      </div>

      <div class="case__body">
        <div class="case__content">
          <h2 class="tl2">Бажаєш подати свій кейс на конференцію?</h2>
          <p class="case__subtl">Заповнюй форму!</p>

          <a href="#" class="btn-def wide">Подати кейс</a>
        </div>
      </div>
    </div>
  </div>
</section>
