<section class="commit" id="commit">
  <div class="commit__container">
    <div class="commit__heading">
      <h2 class="commit__tl">Програмний комітет</h2>
    </div>

    <ul class="commit__list moreBlock">
      <li class="commit__item">
        <div class="commit__box openModal" data-id="idEvidence">
          <div class="commit__img ibg">
            <img src="./img/content/commit_1.jpg" alt="" />
          </div>
          <h3 class="tl4">Оксана Кіхтенко</h3>
          <div class="commit__activity">
            <p>CEO Because Talents Matter & CEO Global IT HR Forum</p>
          </div>
        </div>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="commit__link"
        >
          <span><img src="./img/icons/soc_1.svg" alt="" /></span>
          LinkedIn
        </a>

        <div class="commit__desc">
          <p>CEO Because Talents Matter & CEO Global IT HR Forum</p>
        </div>
        <div class="commit__soc">
          <ul>
            <li>
              <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                alt="LinkedIn"
                aria-label="Social network LinkedIn"
              >
                <span class="no-select">
                  <img src="./img/icons/soc_1.svg" alt="" />
                </span>
              </a>
            </li>
            <li>
              <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                alt="LinkedIn"
                aria-label="Social network LinkedIn"
              >
                <span class="no-select">
                  <img src="./img/icons/soc_2.svg" alt="" />
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="commit__item">
        <div class="commit__box openModal" data-id="idEvidence">
          <div class="commit__img ibg">
            <img src="./img/content/commit_2.jpg" alt="" />
          </div>
          <h3 class="tl4">Ірина Примак</h3>
          <div class="commit__activity">
            <p>CEO Employer Branding Agency Do Marketing!</p>
          </div>
        </div>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="commit__link"
        >
          <span><img src="./img/icons/soc_1.svg" alt="" /></span>
          LinkedIn
        </a>

        <div class="commit__desc">
          <p>CEO Employer Branding Agency Do Marketing!</p>
        </div>
        <div class="commit__soc">
          <ul>
            <li>
              <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                alt="LinkedIn"
                aria-label="Social network LinkedIn"
              >
                <span class="no-select">
                  <img src="./img/icons/soc_1.svg" alt="" />
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="commit__item">
        <div class="commit__box openModal" data-id="idEvidence">
          <div class="commit__img ibg">
            <img src="./img/content/commit_3.jpg" alt="" />
          </div>
          <h3 class="tl4">Олена Кіріченко</h3>
          <div class="commit__activity">
            <p>
              Керівник відділу адаптації, навчання та розвитку бренду
              роботодавця ОККО
            </p>
          </div>
        </div>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="commit__link"
        >
          <span><img src="./img/icons/soc_1.svg" alt="" /></span>
          LinkedIn
        </a>

        <div class="commit__desc">
          <p>
            Керівник відділу адаптації, навчання та розвитку бренду роботодавця
            ОККО
          </p>
        </div>
        <div class="commit__soc">
          <ul>
            <li>
              <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                alt="LinkedIn"
                aria-label="Social network LinkedIn"
              >
                <span class="no-select">
                  <img src="./img/icons/soc_1.svg" alt="" />
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="commit__item">
        <div class="commit__box openModal" data-id="idEvidence">
          <div class="commit__img ibg">
            <img src="./img/content/commit_4.jpg" alt="" />
          </div>
          <h3 class="tl4">Анастасія Поліщук</h3>
          <div class="commit__activity">
            <p>
              Freelance Employer Brand Manager (ex Genesis, Deloitte, Citi),
              Лідерка Employer Branding Community UA, викладачка курсу «HR
              Marketing» на Laba
            </p>
          </div>
        </div>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="commit__link"
        >
          <span><img src="./img/icons/soc_1.svg" alt="" /></span>
          LinkedIn
        </a>

        <div class="commit__desc">
          <p>
            Freelance Employer Brand Manager (ex Genesis, Deloitte, Citi),
            Лідерка Employer Branding Community UA, викладачка курсу «HR
            Marketing» на Laba
          </p>
        </div>
        <div class="commit__soc">
          <ul>
            <li>
              <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                alt="LinkedIn"
                aria-label="Social network LinkedIn"
              >
                <span class="no-select">
                  <img src="./img/icons/soc_1.svg" alt="" />
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="commit__item">
        <div class="commit__box openModal" data-id="idEvidence">
          <div class="commit__img ibg">
            <img src="./img/content/commit_5.jpg" alt="" />
          </div>
          <h3 class="tl4">Анастасія Поліщук</h3>
          <div class="commit__activity">
            <p>
              Freelance Employer Brand Manager (ex Genesis, Deloitte, Citi),
              Лідерка Employer Branding Community UA, викладачка курсу «HR
              Marketing» на Laba
            </p>
          </div>
        </div>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="commit__link"
        >
          <span><img src="./img/icons/soc_1.svg" alt="" /></span>
          LinkedIn
        </a>

        <div class="commit__desc">
          <p>
            Freelance Employer Brand Manager (ex Genesis, Deloitte, Citi),
            Лідерка Employer Branding Community UA, викладачка курсу «HR
            Marketing» на Laba
          </p>
        </div>
        <div class="commit__soc">
          <ul>
            <li>
              <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                alt="LinkedIn"
                aria-label="Social network LinkedIn"
              >
                <span class="no-select">
                  <img src="./img/icons/soc_1.svg" alt="" />
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="commit__item">
        <div class="commit__box openModal" data-id="idEvidence">
          <div class="commit__img ibg">
            <img src="./img/content/commit_4.jpg" alt="" />
          </div>
          <h3 class="tl4">Анастасія Поліщук</h3>
          <div class="commit__activity">
            <p>
              Freelance Employer Brand Manager (ex Genesis, Deloitte, Citi),
              Лідерка Employer Branding Community UA, викладачка курсу «HR
              Marketing» на Laba
            </p>
          </div>
        </div>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="commit__link"
        >
          <span><img src="./img/icons/soc_1.svg" alt="" /></span>
          LinkedIn
        </a>

        <div class="commit__desc">
          <p>
            Freelance Employer Brand Manager (ex Genesis, Deloitte, Citi),
            Лідерка Employer Branding Community UA, викладачка курсу «HR
            Marketing» на Laba
          </p>
        </div>
        <div class="commit__soc">
          <ul>
            <li>
              <a
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                alt="LinkedIn"
                aria-label="Social network LinkedIn"
              >
                <span class="no-select">
                  <img src="./img/icons/soc_1.svg" alt="" />
                </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <button type="button" class="btn-def alt trnspr mob-wide addMore">
      Показати ще
    </button>
  </div>
</section>
