<section class="conf">
  <div class="conf__container wide">
    <div class="conf__body sec-group bg-green bottom-radius top-pseudo">
      <h2 class="tl2 cw">
        Про конференцію<br />
        за 4 роки в цифрах
      </h2>

      <ul class="conf__list">
        <li>
          <h2 class="tl2 cw">600</h2>
          <p>учасників</p>
        </li>
        <li>
          <h2 class="tl2 cw">30</h2>
          <p>кейсів</p>
        </li>
        <li>
          <h2 class="tl2 cw">85</h2>
          <p>заявок</p>
        </li>
        <li>
          <h2 class="tl2 cw">35</h2>
          <p>спікерів</p>
        </li>
        <li>
          <h2 class="tl2 cw">10 000+</h2>
          <p>посмішок та обіймів</p>
        </li>
        <li>
          <h2 class="tl2 cw">50 +</h2>
          <p>літрів просекко 🍾</p>
        </li>
      </ul>
    </div>
  </div>
</section>
