<section class="connect" id="connect">
  <div class="connect__container">
    <div class="connect__heading">
      <h2 class="connect__tl">Контакти</h2>
    </div>
  </div>

  <div class="connect__container wide">
    <div class="connect__wrapp">
      <div class="connect__fltr1 no-select" aria-hidden="true">
        <img src="./img/decor/cont_fltr1.svg" alt="" />
      </div>
      <div class="connect__fltr2 fltr-mob" aria-hidden="true">
        <div></div>
        <div></div>
        <div></div>
      </div>

      <div class="connect__body">
        <div class="connect__fltr2" aria-hidden="true">
          <div></div>
          <div></div>
          <div></div>
        </div>

        <div class="connect__content">
          <h3 class="tl3 cw">
            «HR Marketing & Employer Branding Conference” — організована групою
            компаній “Because Talents Matter”.
          </h3>

          <div class="connect__txt">
            <p>
              За 11 років на ринку під брендом компанії було організовано більше
              30 профільних заходів, в тому числі міжнародних. Серед яких:
              Global IT HR Forum, HR Innovation Summit, Sourcing Day, Upgrade
              Week, Конференція для ТОПів. Географія учасників: 25 країн.
            </p>
          </div>

          <address class="connect__address">
            <div class="connect__box">
              <p>Phone</p>
              <a href="tel:+380956878086">
                <span>
                  <img src="./img/icons/tel.svg" alt="" />
                </span>
                +38 (095) 687-80-86
              </a>
            </div>
            <div class="connect__box">
              <p>E-mail</p>
              <a href="mailto:oksana.kikhtenko@talentsmatter.org">
                <span>
                  <img src="./img/icons/mail.svg" alt="" />
                </span>
                oksana.kikhtenko@talentsmatter.org
              </a>
            </div>
          </address>
        </div>
      </div>
    </div>
  </div>
</section>
