<section class="event">
  <div class="event__video">
    <video autoplay muted loop preload="metadata">
      <source src="./img/media/event_mp4.mp4" type="video/mp4" />
      <source src="./img/media/event_webm.webm" type="video/webm" />
    </video>
  </div>

  <div class="event__container">
    <div class="event__body">
      <h1 class="event__tl">
        HR Innovation<br />
        Summit
      </h1>

      <div class="event__content">
        <div class="event__info">
          <div>
            <p>Дата</p>
            <h2>14 березня 2025</h2>
          </div>
          <div>
            <p>Час</p>
            <h2>15:00</h2>
          </div>
          <div>
            <p>Формат</p>
            <h2>Офлайн+офлайн, Київ</h2>
          </div>
        </div>

        <button
          type="button"
          class="btn-def wide openModal"
          data-id="idRegistr"
        >
          Зареєструватися
        </button>
      </div>

      <div class="banner__carousel" data-speed="15" data-factor="1.5">
        <ul class="banner__list carsePartF">
          <li class="banner__item">
            <div class="event__box no-select">
              <img src="./img/content/partner_10.png" alt="" />
            </div>
          </li>
          <li class="banner__item">
            <div class="event__box no-select">
              <img src="./img/content/partner_6.png" alt="" />
            </div>
          </li>
          <li class="banner__item">
            <div class="event__box no-select">
              <img src="./img/content/partner_7.png" alt="" />
            </div>
          </li>
          <li class="banner__item">
            <div class="event__box no-select">
              <img src="./img/content/partner_8.png" alt="" />
            </div>
          </li>
        </ul>

        <ul class="banner__list carsePartS">
          <li class="banner__item">
            <div class="event__box no-select">
              <img src="./img/content/partner_10.png" alt="" />
            </div>
          </li>
          <li class="banner__item">
            <div class="event__box no-select">
              <img src="./img/content/partner_6.png" alt="" />
            </div>
          </li>
          <li class="banner__item">
            <div class="event__box no-select">
              <img src="./img/content/partner_7.png" alt="" />
            </div>
          </li>
          <li class="banner__item">
            <div class="event__box no-select">
              <img src="./img/content/partner_8.png" alt="" />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
