<section class="events" id="events">
  <div class="events__container">
    <div class="events__heading">
      <h2 class="tl2 cw">Events</h2>
    </div>

    <div class="filtercont">
      <button type="button" class="filter__open">
        <span>Filter</span>
      </button>

      <div class="filter__wrapp">
        <div class="filter__heading">
          <h3>Filter</h3>
          <button
            type="button"
            class="filter__close"
            aria-label="Close the filters window"
          ></button>
        </div>
        <div class="events__select filter__item filter__type">
          <div class="facetwp-facet facetwp-type-dropdown">
            <p>Topic</p>
            <select class="facetwp-dropdown">
              <option value="Lecture" selected>All</option>
              <option value="Item">Item</option>
              <option value="Activities">Item Item Item</option>
            </select>
          </div>
          <div class="facetwp-facet facetwp-type-dropdown">
            <p>Level</p>
            <select class="facetwp-dropdown">
              <option value="Lecture" selected>All</option>
              <option value="Item">Item</option>
              <option value="Activities">Item Item Item</option>
            </select>
          </div>
          <div class="facetwp-facet facetwp-type-dropdown">
            <p>Language</p>
            <select class="facetwp-dropdown">
              <option value="Lecture" selected>All</option>
              <option value="Item">Item</option>
              <option value="Activities">Item Item Item</option>
            </select>
          </div>
          <div class="facetwp-facet facetwp-type-dropdown">
            <p>Format</p>
            <select class="facetwp-dropdown">
              <option value="Lecture" selected>All</option>
              <option value="Item">Item</option>
              <option value="Activities">Item Item Item</option>
            </select>
          </div>
          <div class="facetwp-facet facetwp-type-dropdown">
            <p>Location</p>
            <select class="facetwp-dropdown">
              <option value="Lecture" selected>All</option>
              <option value="Item">Item</option>
              <option value="Activities">Item Item Item</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <ul class="events__cards">
      <li class="card-def">
        <a
          href="./event.html"
          class="card-def__img ibg"
          aria-label="Events image"
        >
          <img src="./img/content/events_1.jpg" alt="" />
        </a>
        <ul class="card-def__aside">
          <li>
            <span class="no-select">
              <img src="./img/icons/local.svg" alt="" />
            </span>
            <p>Warsaw</p>
          </li>
        </ul>
        <div class="card-def__box">
          <div class="card-def__promo">
            <div class="card-def__brand ibg no-select">
              <img src="./img/content/brand_1.jpg" alt="" />
            </div>
            <div class="card-def__inf">
              <span>Organizer</span>
              <p>Teylor&Co</p>
            </div>
          </div>
          <a href="./event.html" class="card-def__tl">
            An event for beginners, or how offline events benefit businesses
          </a>
          <div class="card-def__meta">
            <div class="meta-date">
              <span>Date</span>
              <p>18 march 2024</p>
            </div>
            <div class="meta-time">
              <span>Time</span>
              <p>19:00</p>
            </div>
          </div>
        </div>
      </li>
      <li class="card-def">
        <a
          href="./event.html"
          class="card-def__img ibg"
          aria-label="Events image"
        >
          <img src="./img/content/events_2.jpg" alt="" />
        </a>
        <ul class="card-def__aside">
          <li>
            <span class="no-select">
              <img src="./img/icons/address__box.svg" alt="" />
            </span>
            <p>Online</p>
          </li>
        </ul>
        <div class="card-def__box">
          <div class="card-def__promo">
            <div class="card-def__brand alt-brand ibg no-select">
              <img src="./img/content/brand_2.jpg" alt="" />
            </div>
            <div class="card-def__inf">
              <span>Organizer</span>
              <p>Teylor&Co</p>
            </div>
          </div>
          <a href="./event.html" class="card-def__tl">
            An event for beginners, or how offline events benefit businesses
          </a>
          <div class="card-def__meta">
            <div class="meta-date">
              <span>Date</span>
              <p>18 march 2024</p>
            </div>
            <div class="meta-time">
              <span>Time</span>
              <p>19:00</p>
            </div>
          </div>
        </div>
      </li>
      <li class="card-def">
        <a
          href="./event.html"
          class="card-def__img ibg"
          aria-label="Events image"
        >
          <img src="./img/content/events_2.jpg" alt="" />
        </a>
        <ul class="card-def__aside">
          <li>
            <span class="no-select">
              <img src="./img/icons/planet.svg" alt="" />
            </span>
            <p>Online</p>
          </li>
        </ul>
        <div class="card-def__box">
          <div class="card-def__promo">
            <div class="card-def__brand ibg no-select">
              <img src="./img/content/brand_3.jpg" alt="" />
            </div>
            <div class="card-def__inf">
              <span>Organizer</span>
              <p>Teylor&Co</p>
            </div>
          </div>
          <a href="./event.html" class="card-def__tl">
            An event for beginners, or how offline events benefit businesses
          </a>
          <div class="card-def__meta">
            <div class="meta-date">
              <span>Date</span>
              <p>18 march 2024</p>
            </div>
            <div class="meta-time">
              <span>Time</span>
              <p>19:00</p>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <div class="events__pagin pagesFacet">
      <div
        class="facetwp-facet facetwp-facet-view_all_events facetwp-type-pager"
        data-name="view_all_events"
        data-type="pager"
      >
        <button class="facetwp-load-more" data-loading="View all events">
          View all events
        </button>
      </div>
    </div>
  </div>
</section>
