<div class="gallery banner">
  <div class="banner__carousel" data-speed="15" data-factor="2">
    <ul class="banner__list carsePartF">
      <li class="banner__item">
        <div class="gallery__box ibg no-select">
          <img src="./img/content/gallery_1.jpg" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="gallery__box ibg no-select">
          <img src="./img/content/gallery_2.jpg" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="gallery__box ibg no-select">
          <img src="./img/content/gallery_3.jpg" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="gallery__box ibg no-select">
          <img src="./img/content/gallery_4.jpg" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="gallery__box ibg no-select">
          <img src="./img/content/gallery_5.jpg" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="gallery__box ibg no-select">
          <img src="./img/content/gallery_6.jpg" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="gallery__box ibg no-select">
          <img src="./img/content/gallery_7.jpg" alt="" />
        </div>
      </li>
    </ul>

    <ul class="banner__list carsePartS">
      <li class="banner__item">
        <div class="gallery__box ibg no-select">
          <img src="./img/content/gallery_1.jpg" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="gallery__box ibg no-select">
          <img src="./img/content/gallery_2.jpg" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="gallery__box ibg no-select">
          <img src="./img/content/gallery_3.jpg" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="gallery__box ibg no-select">
          <img src="./img/content/gallery_4.jpg" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="gallery__box ibg no-select">
          <img src="./img/content/gallery_5.jpg" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="gallery__box ibg no-select">
          <img src="./img/content/gallery_6.jpg" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="gallery__box ibg no-select">
          <img src="./img/content/gallery_7.jpg" alt="" />
        </div>
      </li>
    </ul>
  </div>

  <div class="banner__carousel" data-speed="15" data-factor="2" data-reverse>
    <ul class="banner__list carsePartF">
      <li class="banner__item">
        <div class="gallery__box ibg no-select">
          <img src="./img/content/gallery_8.jpg" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="gallery__box ibg no-select">
          <img src="./img/content/gallery_9.jpg" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="gallery__box ibg no-select">
          <img src="./img/content/gallery_10.jpg" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="gallery__box ibg no-select">
          <img src="./img/content/gallery_11.jpg" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="gallery__box ibg no-select">
          <img src="./img/content/gallery_12.jpg" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="gallery__box ibg no-select">
          <img src="./img/content/gallery_13.jpg" alt="" />
        </div>
      </li>
    </ul>

    <ul class="banner__list carsePartS">
      <li class="banner__item">
        <div class="gallery__box ibg no-select">
          <img src="./img/content/gallery_8.jpg" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="gallery__box ibg no-select">
          <img src="./img/content/gallery_9.jpg" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="gallery__box ibg no-select">
          <img src="./img/content/gallery_10.jpg" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="gallery__box ibg no-select">
          <img src="./img/content/gallery_11.jpg" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="gallery__box ibg no-select">
          <img src="./img/content/gallery_12.jpg" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="gallery__box ibg no-select">
          <img src="./img/content/gallery_13.jpg" alt="" />
        </div>
      </li>
    </ul>
  </div>
</div>
