<section class="hero">
  <div class="hero__video">
    <video autoplay muted loop preload="metadata">
      <source src="./img/media/hero_mp4.mp4" type="video/mp4" />
      <source src="./img/media/hero_webm.webm" type="video/webm" />
    </video>
  </div>

  <div class="hero__container">
    <div class="hero__wrapp">
      <div class="hero__fltr1 no-select" aria-hidden="true">
        <img src="./img/decor/hero_fltr2.svg" alt="" />
      </div>

      <div class="hero__body">
        <h1 class="hero__title">
          <span class="wrd1">Innovate</span><br />
          <span class="wrd2">Connect</span><br />
          <span class="wrd3">Lead</span>
        </h1>
        <div class="hero__box">
          <div class="txt-def cw">
            <p>
              International community for HR and recruiters. Connecting people,
              ideas, and opportunities.
            </p>
          </div>
          <a href="#plans" class="btn-def btn-anchor">Become a member</a>
          <span>
            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
