<section class="hero">
  <div class="hero__video">
    <video autoplay muted loop preload="metadata">
      <source src="./img/media/hero_mp4.mp4" type="video/mp4" />
      <source src="./img/media/hero_webm.webm" type="video/webm" />
    </video>
  </div>

  <div class="hero__container">
    <div class="hero__body">
      <p class="hero__sub">ІV кейс-конференція</p>
      <h1 class="hero__tl">
        HR Marketing &<br />
        Employer Branding<br />
        Conference
      </h1>
      <h2 class="hero__subtl">Кейси, що впливають та надихають</h2>

      <div class="hero__content">
        <div class="hero__info">
          <div>
            <p>Дата</p>
            <h2>12 вересня 2025</h2>
          </div>
          <div>
            <p>Час</p>
            <h2>15:00</h2>
          </div>
          <div>
            <p>Формат</p>
            <h2>Офлайн Київ</h2>
          </div>
        </div>

        <button
          type="button"
          class="btn-def bg-yell wide openModal"
          data-id="idRegistr"
        >
          Зареєструватися
        </button>
      </div>
    </div>
  </div>
</section>
