<section class="hero">
  <div class="hero__video">
    <!-- autoplay -->
    <video muted loop preload="metadata" poster="./img/content/bg_hero.jpg">
      <source src="./img/media/event_mp4.mp4" type="video/mp4" />
      <source src="./img/media/event_webm.webm" type="video/webm" />
    </video>
  </div>

  <div class="hero__container">
    <div class="hero__body">
      <p class="hero__subtl">Перша кейс-конференція для HR та рекрутерів</p>
      <h1 class="hero__tl">
        HR Marketing &<br />
        Employer Branding<br />
        Conference
      </h1>

      <div class="hero__content">
        <div class="hero__info">
          <div>
            <p>Дата</p>
            <h2>12 вересня 2025</h2>
          </div>
          <div>
            <p>Час</p>
            <h2>15:00</h2>
          </div>
          <div>
            <p>Формат</p>
            <h2>Офлайн Київ</h2>
          </div>
        </div>

        <button
          type="button"
          class="btn-def wide openModal"
          data-id="idRegistr"
        >
          Зареєструватися
        </button>
      </div>

      <ul class="hero__partners">
        <li class="no-select">
          <img src="./img/content/partner_1.png" alt="" />
        </li>
        <li class="no-select">
          <img src="./img/content/partner_2.png" alt="" />
        </li>
      </ul>
    </div>
  </div>
</section>
