<div class="join">
  <div class="join__fltr1 no-select" aria-hidden="true">
    <img src="./img/decor/join__fltr1.svg" alt="" />
  </div>
  <div class="join__content">
    <h2 class="tl2">Join our test group!</h2>
    <div class="join__txt">
      <p>Fill out this form</p>
    </div>
    <button type="button" class="btn-def openModal" data-id="idSignup">
      Registration
    </button>
  </div>

  <div class="join__slice1 no-select" aria-hidden="true">
    <img src="./img/decor/join_slice1.svg" alt="" />
  </div>
  <div class="join__slice2 no-select" aria-hidden="true">
    <img src="./img/decor/join_slice2.svg" alt="" />
  </div>

  <div class="join__logo no-select">
    <img src="./img/icons/logo.svg" alt="Logo" />
  </div>

  <div class="join__box">
    <div class="join__gallery1">
      <ul>
        <li class="no-select ibg">
          <img src="./img/content/ambass_1.jpg" alt="" />
        </li>
        <li class="no-select ibg">
          <img src="./img/content/ambass_2.jpg" alt="" />
        </li>
        <li class="no-select ibg">
          <img src="./img/content/ambass_3.jpg" alt="" />
        </li>
        <li class="no-select ibg">
          <img src="./img/content/ambass_4.jpg" alt="" />
        </li>
        <li class="no-select ibg">
          <img src="./img/content/ambass_3.jpg" alt="" />
        </li>
        <li class="no-select ibg">
          <img src="./img/content/ambass_4.jpg" alt="" />
        </li>

        <li class="no-select ibg">
          <img src="./img/content/ambass_3.jpg" alt="" />
        </li>
        <li class="no-select ibg">
          <img src="./img/content/ambass_4.jpg" alt="" />
        </li>
        <li class="no-select ibg">
          <img src="./img/content/ambass_3.jpg" alt="" />
        </li>
        <li class="no-select ibg">
          <img src="./img/content/ambass_4.jpg" alt="" />
        </li>
      </ul>
    </div>
    <div class="join__gallery2">
      <ul>
        <li class="no-select ibg">
          <img src="./img/content/ambass_1.jpg" alt="" />
        </li>
        <li class="no-select ibg">
          <img src="./img/content/ambass_2.jpg" alt="" />
        </li>
        <li class="no-select ibg">
          <img src="./img/content/ambass_3.jpg" alt="" />
        </li>
        <li class="no-select ibg">
          <img src="./img/content/ambass_4.jpg" alt="" />
        </li>
        <li class="no-select ibg">
          <img src="./img/content/reviews_1.jpg" alt="" />
        </li>
        <li class="no-select ibg">
          <img src="./img/content/ambass_2.jpg" alt="" />
        </li>
        <li class="no-select ibg">
          <img src="./img/content/ambass_3.jpg" alt="" />
        </li>
        <li class="no-select ibg">
          <img src="./img/content/ambass_4.jpg" alt="" />
        </li>
        <li class="no-select ibg">
          <img src="./img/content/reviews_1.jpg" alt="" />
        </li>
        <li class="no-select ibg">
          <img src="./img/content/ambass_2.jpg" alt="" />
        </li>
      </ul>
    </div>
  </div>
</div>
