<div class="partners banner">
  <div class="partners__container">
    <div class="partners__heading">
      <div
        class="partners__tl no-select"
        role="heading"
        aria-level="2"
        aria-label="Title Partners"
      >
        <img src="./img/decor/partners.svg" alt="Partners" />
      </div>
    </div>
  </div>

  <div class="banner__carousel" data-speed="15" data-factor="1.5">
    <ul class="banner__list carsePartF">
      <li class="banner__item">
        <div class="partners__box no-select">
          <img src="./img/content/partner_1.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="partners__box no-select">
          <img src="./img/content/partner_2.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="partners__box no-select">
          <img src="./img/content/partner_3.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="partners__box no-select">
          <img src="./img/content/partner_4.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="partners__box no-select">
          <img src="./img/content/partner_5.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="partners__box no-select">
          <img src="./img/content/partner_6.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="partners__box no-select">
          <img src="./img/content/partner_7.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="partners__box no-select">
          <img src="./img/content/partner_8.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="partners__box no-select">
          <img src="./img/content/partner_9.png" alt="" />
        </div>
      </li>
    </ul>

    <ul class="banner__list carsePartS">
      <li class="banner__item">
        <div class="partners__box no-select">
          <img src="./img/content/partner_1.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="partners__box no-select">
          <img src="./img/content/partner_2.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="partners__box no-select">
          <img src="./img/content/partner_3.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="partners__box no-select">
          <img src="./img/content/partner_4.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="partners__box no-select">
          <img src="./img/content/partner_5.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="partners__box no-select">
          <img src="./img/content/partner_6.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="partners__box no-select">
          <img src="./img/content/partner_7.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="partners__box no-select">
          <img src="./img/content/partner_8.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="partners__box no-select">
          <img src="./img/content/partner_9.png" alt="" />
        </div>
      </li>
    </ul>
  </div>
</div>
