<section class="program" id="program">
  <div class="program__container wide">
    <div class="program__body">
      <span class="ico-decor no-select">
        <img src="./img/decor/dec_2.png" alt="" />
      </span>

      <div class="program__content">
        <div class="program__heading">
          <p class="program__subtl">Програма</p>

          <h2 class="tl2">HR Marketing & Employer Branding Conference</h2>
        </div>

        <ul class="program__list">
          <li class="program__item">
            <div class="program__time">
              <p>11:00 - 12:00</p>
            </div>

            <div class="program__info">
              <h3>Реєстрація та welcome coffee</h3>
            </div>
          </li>

          <li class="program__item">
            <div class="program__time">
              <p>15:00 - 16:00</p>
            </div>

            <div class="program__info">
              <h3>
                Ми віримо, що українські IT Startups мають великі шанси отримати
                визнання на міжнародному ринку. Тому наша мета - максимально
                підтримати їх не лише в Україні
              </h3>

              <ul class="program__persons">
                <li class="program__pers">
                  <span class="program__ava ibg">
                    <img src="./img/content/commit_1.jpg" alt="" />
                  </span>
                  <div class="program__position">
                    <h4>Elizaveta Qweentessa</h4>
                    <p>
                      Managing Director/ HR Operations Director Ukraine at
                      Luxoft, A DXC Technology Company
                    </p>
                  </div>
                </li>
                <li class="program__pers">
                  <span class="program__ava ibg">
                    <img src="./img/content/commit_2.jpg" alt="" />
                  </span>
                  <div class="program__position">
                    <h4>Elizaveta Qweentessa</h4>
                    <p>
                      Managing Director/ HR Operations Director Ukraine at
                      Luxoft, A DXC Technology Company
                    </p>
                  </div>
                </li>
                <li class="program__pers">
                  <span class="program__ava ibg">
                    <img src="./img/content/commit_2.jpg" alt="" />
                  </span>
                  <div class="program__position">
                    <h4>Elizaveta Qweentessa</h4>
                    <p>
                      Managing Director/ HR Operations Director Ukraine at
                      Luxoft, A DXC Technology Company
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <li class="program__item">
            <div class="program__time">
              <p>14:00 - 17:00</p>
            </div>

            <div class="program__info">
              <h3>
                Вітальне слово від представника локації компанії SoftServe
              </h3>

              <ul class="program__persons">
                <li class="program__pers">
                  <span class="program__ava ibg">
                    <img src="./img/content/commit_1.jpg" alt="" />
                  </span>
                  <div class="program__position">
                    <h4>Elizaveta Qweentessa</h4>
                    <p>
                      Managing Director/ HR Operations Director Ukraine at
                      Luxoft, A DXC Technology Company
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </li>

          <li class="program__item">
            <div class="program__time">
              <p>10:00 - 11:00</p>
            </div>

            <div class="program__info">
              <div class="program__break">
                <span>
                  <img src="./img/icons/break.svg" alt="" />
                </span>
                <h3>Coffee-break</h3>
              </div>
            </div>
          </li>

          <li class="program__item">
            <div class="program__time">
              <p>15:00 - 16:00</p>
            </div>

            <div class="program__info">
              <h3>
                Ми віримо, що українські IT Startups мають великі шанси отримати
                визнання на міжнародному ринку. Тому наша мета - максимально
                підтримати їх не лише в Україні
              </h3>

              <ul class="program__items">
                <li>Аналітика HRtech інвестицій у світі</li>
                <li>У які продуктові рішення інвестують найбільше</li>
                <li>
                  Інвестиційні тренди, які повинні бути враховані українським
                  HRtech
                </li>
                <li>
                  Нескінченний потік відгуків: Які кандидати стали більше
                  відгукуватись, на скільки більше. Тренд на зменшення кількості
                  відгуків останній рік. Як ним управляти за допомогою
                  інструментів джина.
                </li>
              </ul>

              <ul class="program__persons">
                <li class="program__pers">
                  <span class="program__ava ibg">
                    <img src="./img/content/commit_1.jpg" alt="" />
                  </span>
                  <div class="program__position">
                    <h4>Elizaveta Qweentessa</h4>
                    <p>
                      Managing Director/ HR Operations Director Ukraine at
                      Luxoft, A DXC Technology Company
                    </p>
                  </div>
                </li>
                <li class="program__pers">
                  <span class="program__ava ibg">
                    <img src="./img/content/commit_2.jpg" alt="" />
                  </span>
                  <div class="program__position">
                    <h4>Elizaveta Qweentessa</h4>
                    <p>
                      Managing Director/ HR Operations Director Ukraine at
                      Luxoft, A DXC Technology Company
                    </p>
                  </div>
                </li>
                <li class="program__pers">
                  <span class="program__ava ibg">
                    <img src="./img/content/commit_2.jpg" alt="" />
                  </span>
                  <div class="program__position">
                    <h4>Elizaveta Qweentessa</h4>
                    <p>
                      Managing Director/ HR Operations Director Ukraine at
                      Luxoft, A DXC Technology Company
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
