<section class="program" id="program">
  <div class="program__container wide">
    <div class="program__body">
      <span class="ico-decor no-select">
        <img src="./img/decor/dec_15.png" alt="" />
      </span>

      <div class="program__content">
        <div class="program__heading">
          <p class="program__subtl">Програма</p>

          <h2 class="tl2">
            HR Innovation<br />
            Summit
          </h2>
        </div>

        <ul class="program__list">
          <li
            class="program__item calendar"
            data-time="15:00 - 16:00"
            data-title="Ми віримо, що українські IT Startups мають великі шанси отримати визнання на міжнародному ринку. Тому наша мета - максимально підтримати їх не лише в Україні"
            data-speakers="Спікери: Elizaveta Qweentessa (Managing Director/ HR Operations Director Ukraine at Luxoft, A DXC Technology Company), Elizaveta Qweentessa (Managing Director/ HR Operations Director Ukraine at Luxoft, A DXC Technology Company)."
          >
            <div class="program__time">
              <p>15:00 - 16:00</p>
            </div>

            <div class="program__info">
              <h3>
                Ми віримо, що українські IT Startups мають великі шанси отримати
                визнання на міжнародному ринку. Тому наша мета - максимально
                підтримати їх не лише в Україні
              </h3>

              <ul class="program__persons">
                <li class="program__pers">
                  <span class="program__ava ibg">
                    <img src="./img/content/ambass_1.jpg" alt="" />
                  </span>
                  <div class="program__position">
                    <h4>Elizaveta Qweentessa</h4>
                    <p>
                      Managing Director/ HR Operations Director Ukraine at
                      Luxoft, A DXC Technology Company
                    </p>
                  </div>
                </li>
                <li class="program__pers">
                  <span class="program__ava ibg">
                    <img src="./img/content/ambass_2.jpg" alt="" />
                  </span>
                  <div class="program__position">
                    <h4>Elizaveta Qweentessa</h4>
                    <p>
                      Managing Director/ HR Operations Director Ukraine at
                      Luxoft, A DXC Technology Company
                    </p>
                  </div>
                </li>
              </ul>
            </div>

            <button type="button" class="btn-def trnspr addCalendar">
              Додати в календар
            </button>
          </li>

          <li
            class="program__item calendar"
            data-time="14:00 - 17:00"
            data-title="Ми віримо, що українські IT Startups мають великі шанси отримати визнання на міжнародному ринку. Тому наша мета - максимально підтримати їх не лише в Україні"
            data-speakers="Спікери: Elizaveta Qweentessa (Managing Director/ HR Operations Director Ukraine at Luxoft, A DXC Technology Company)."
          >
            <div class="program__time">
              <p>14:00 - 17:00</p>
            </div>

            <div class="program__info">
              <h3>
                Ми віримо, що українські IT Startups мають великі шанси отримати
                визнання на міжнародному ринку. Тому наша мета - максимально
                підтримати їх не лише в Україні
              </h3>

              <ul class="program__persons">
                <li class="program__pers">
                  <span class="program__ava ibg">
                    <img src="./img/content/ambass_3.jpg" alt="" />
                  </span>
                  <div class="program__position">
                    <h4>Elizaveta Qweentessa</h4>
                    <p>
                      Managing Director/ HR Operations Director Ukraine at
                      Luxoft, A DXC Technology Company
                    </p>
                  </div>
                </li>
              </ul>
            </div>

            <button type="button" class="btn-def trnspr addCalendar">
              Додати в календар
            </button>
          </li>

          <li
            class="program__item calendar"
            data-time="10:00 - 11:00"
            data-title="Coffee-break"
          >
            <div class="program__time">
              <p>10:00 - 11:00</p>
            </div>

            <div class="program__info">
              <div class="program__break">
                <span>
                  <img src="./img/icons/break.svg" alt="" />
                </span>
                <h3>Coffee-break</h3>
              </div>
            </div>

            <button type="button" class="btn-def trnspr addCalendar">
              Додати в календар
            </button>
          </li>

          <li
            class="program__item calendar"
            data-time="11:00 - 12:00"
            data-title="Ми віримо, що українські IT Startups мають великі шанси отримати визнання на міжнародному ринку. Тому наша мета - максимально підтримати їх не лише в Україні"
          >
            <div class="program__time">
              <p>11:00 - 12:00</p>
            </div>

            <div class="program__info">
              <h3>
                Ми віримо, що українські IT Startups мають великі шанси отримати
                визнання на міжнародному ринку. Тому наша мета - максимально
                підтримати їх не лише в Україні
              </h3>
            </div>

            <button type="button" class="btn-def trnspr addCalendar">
              Додати в календар
            </button>
          </li>
        </ul>

        <button
          type="button"
          class="btn-def wide openModal"
          data-id="idRegistr"
        >
          Зареєструватися
        </button>
      </div>
    </div>
  </div>
</section>
