<section class="receive">
  <div class="receive__container wide">
    <div class="receive__wrapp">
      <div class="receive__fltr no-select" aria-hidden="true">
        <img src="./img/decor/recv_fltr.svg" alt="" />
      </div>

      <div class="receive__body">
        <span class="ico-decor no-select" aria-hidden="true">
          <img src="./img/decor/dec_15.png" alt="" />
        </span>

        <div class="receive__heading">
          <h2 class="tl2">What community members will receive</h2>
          <a href="#plans" class="btn-def btn-anchor">Become a member</a>
        </div>

        <ul class="receive__list">
          <li>
            <span class="no-select">
              <img src="./img/icons/recv_1.svg" alt="" />
            </span>
            <h3 class="tl4">Professional Events (Online and Offline)</h3>
            <div class="txt-def">
              <p>
                Participate in exclusive industry-specific events, both online
                and offline, designed to expand your knowledge and network
              </p>
            </div>
          </li>
          <li>
            <span class="no-select">
              <img src="./img/icons/recv_2.svg" alt="" />
            </span>
            <h3 class="tl4">Mentorship from Leading Experts</h3>
            <div class="txt-def">
              <p>
                Gain insights and guidance from top international and Ukrainian
                professionals to accelerate your growth
              </p>
            </div>
          </li>
          <li>
            <span class="no-select">
              <img src="./img/icons/recv_3.svg" alt="" />
            </span>
            <h3 class="tl4">
              Internal<br />
              Community Clubs
            </h3>
            <div class="txt-def">
              <p>
                Join specialized clubs within the community focused on sourcing,
                recruitment, HR marketing, and more
              </p>
            </div>
          </li>
          <li>
            <span class="no-select">
              <img src="./img/icons/recv_4.svg" alt="" />
            </span>
            <h3 class="tl4">
              Exclusive<br />
              Expert Chats
            </h3>
            <div class="txt-def">
              <p>
                Access private chats with experts on various topics tailored to
                your specialization and interests
              </p>
            </div>
          </li>
          <li>
            <span class="no-select">
              <img src="./img/icons/recv_5.svg" alt="" />
            </span>
            <h3 class="tl4">
              Visits to Leading<br />
              IT Companies
            </h3>
            <div class="txt-def">
              <p>Explore the inner workings of top IT companies.</p>
            </div>
          </li>
          <li>
            <span class="no-select">
              <img src="./img/icons/recv_6.svg" alt="" />
            </span>
            <h3 class="tl4">
              Access<br />
              to a Knowledge Base
            </h3>
            <div class="txt-def">
              <p>
                Utilize a library of resources, including checklists, templates,
                video materials, and expert insights
              </p>
            </div>
          </li>
          <li>
            <span class="no-select">
              <img src="./img/icons/recv_7.svg" alt="" />
            </span>
            <h3 class="tl4">Discounts and Special Offers</h3>
            <div class="txt-def">
              <p>Enjoy exclusive perks and special conditions</p>
            </div>
          </li>
        </ul>

        <a href="#plans" class="btn-def btn-mob btn-anchor">Become a member</a>
      </div>
    </div>
  </div>
</section>
