<section class="reviews">
  <div class="reviews__container">
    <div class="reviews__heading">
      <h2 class="tl2 cw">Reviews</h2>
    </div>

    <div class="reviews__splide">
      <div class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide reviews-post">
              <div class="reviews__scotch1 no-select">
                <img src="./img/decor/scotch_1.png" alt="" />
              </div>
              <div class="reviews__scotch2 no-select">
                <img src="./img/decor/scotch_1.png" alt="" />
              </div>
              <div class="reviews__img ibg">
                <img src="./img/content/reviews_1.jpg" alt="" />
                <div class="arrows">
                  <div class="arrows__body">
                    <button
                      type="button"
                      class="arrows__prev"
                      aria-label="Arrows prev"
                    ></button>
                    <button
                      type="button"
                      class="arrows__next"
                      aria-label="Arrows next"
                    ></button>
                  </div>
                </div>
              </div>
              <div class="reviews__content">
                <h3 class="tl3">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                </h3>
                <div class="reviews__desc">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                  </p>
                </div>
                <div class="reviews__user">
                  <div class="reviews__ava ibg">
                    <img src="./img/content/reviews_1.jpg" alt="" />
                  </div>
                  <div class="reviews__inf">
                    <h3>Elizabet Teylor</h3>
                    <p>CEO Avant Groupe</p>
                    <ul>
                      <li>
                        <a href="#" target="_blank" rel="noopener noreferrer">
                          LinkedIn
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="splide__slide reviews-video">
              <div class="reviews__scotch1 no-select">
                <img src="./img/decor/scotch_1.png" alt="" />
              </div>
              <div class="reviews__scotch2 no-select">
                <img src="./img/decor/scotch_1.png" alt="" />
              </div>
              <div class="reviews__video">
                <video poster="./img/content/reviews_2.jpg" preload="metadata">
                  <source src="./img/media/mov-mp4.mp4" type="video/mp4" />
                  <source src="./img/media/mov-webm.webm" type="video/webm" />
                </video>
              </div>

              <button
                type="button"
                class="reviews__play video-play"
                aria-label="Video play"
              >
                <span class="no-select">
                  <img src="./img/icons/play.svg" alt="" />
                </span>
              </button>

              <div class="arrows">
                <div class="arrows__body">
                  <button
                    type="button"
                    class="arrows__prev"
                    aria-label="Arrows prev"
                  ></button>
                  <button
                    type="button"
                    class="arrows__next"
                    aria-label="Arrows next"
                  ></button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="arrows">
        <div class="arrows__body">
          <button
            type="button"
            class="arrows__prev"
            aria-label="Arrows prev"
          ></button>
          <button
            type="button"
            class="arrows__next"
            aria-label="Arrows next"
          ></button>
        </div>
      </div>
    </div>
  </div>
</section>
