<section class="space" id="space">
  <div class="space__container wide">
    <div class="space__wrapp">
      <div class="space__fltr1 no-select" aria-hidden="true">
        <img src="./img/decor/ambass_fltr.svg" alt="" />
      </div>
      <div class="space__fltr2 no-select" aria-hidden="true">
        <img src="./img/decor/ambass_fltr.svg" alt="" />
      </div>
      <div class="space__fltr3 no-select" aria-hidden="true">
        <img src="./img/decor/hero_fltr1.svg" alt="" />
      </div>

      <div class="space__body">
        <span class="ico-decor no-select">
          <img src="./img/decor/dec_17.png" alt="" />
        </span>
        <div class="space__heading">
          <h2 class="tl2">
            A space for<br />
            ideas, growth,<br />
            and transformation<br />
            in HR and recruitment
          </h2>
        </div>
        <div class="space__content">
          <div class="txt-def">
            <p>
              Our community brings together professionals eager to develop,
              share experiences, and shape the future of the industry. Here,
              you’ll find everything you need for personal and professional
              growth.
            </p>
          </div>
          <ul class="space__list">
            <li>
              <span class="no-select">
                <img src="./img/icons/space_1.svg" alt="" />
              </span>
              <h3 class="tl4">Professional events and activities</h3>
              <div class="txt-def">
                <p>workshops, seminars, and webinars led by top experts</p>
              </div>
            </li>
            <li>
              <span class="no-select">
                <img src="./img/icons/space_2.svg" alt="" />
              </span>
              <h3 class="tl4">Effective networking</h3>
              <div class="txt-def">
                <p>
                  connect with colleagues, find partners, and expand your
                  horizons
                </p>
              </div>
            </li>
            <li>
              <span class="no-select">
                <img src="./img/icons/space_3.svg" alt="" />
              </span>
              <h3 class="tl4">Educational resources</h3>
              <div class="txt-def">
                <p>up-to-date materials, guides, and research</p>
              </div>
            </li>
            <li>
              <span class="no-select">
                <img src="./img/icons/space_4.svg" alt="" />
              </span>
              <h3 class="tl4">Exchange of ideas and case studies</h3>
              <div class="txt-def">
                <p>
                  discuss challenges, discover new approaches, and share your
                  successes
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
