<section class="sponsors">
  <div class="sponsors__container wide">
    <div class="sponsors__wrapp">
      <div class="sponsors__fltr" aria-hidden="true">
        <div></div>
        <div></div>
        <div></div>
      </div>

      <div class="sponsors__body">
        <div class="sponsors__box">
          <h2 class="sponsors__tl">Partners</h2>
          <ul class="sponsors__list">
            <li class="no-select">
              <img src="./img/content/spons_1.png" alt="" />
            </li>
            <li class="no-select">
              <img src="./img/content/spons_2.png" alt="" />
            </li>
            <li class="no-select">
              <img src="./img/content/spons_3.png" alt="" />
            </li>
            <li class="no-select">
              <img src="./img/content/spons_4.png" alt="" />
            </li>
            <li class="no-select">
              <img src="./img/content/spons_5.png" alt="" />
            </li>
            <li class="no-select">
              <img src="./img/content/spons_6.png" alt="" />
            </li>
            <li class="no-select">
              <img src="./img/content/spons_7.png" alt="" />
            </li>
            <li class="no-select">
              <img src="./img/content/spons_8.png" alt="" />
            </li>
            <li class="no-select">
              <img src="./img/content/spons_9.png" alt="" />
            </li>
          </ul>
        </div>

        <div class="sponsors__box">
          <h2 class="sponsors__tl">Media</h2>
          <ul class="sponsors__list">
            <li class="no-select">
              <img src="./img/content/spons_1.png" alt="" />
            </li>
            <li class="no-select">
              <img src="./img/content/spons_2.png" alt="" />
            </li>
            <li class="no-select">
              <img src="./img/content/spons_3.png" alt="" />
            </li>
            <li class="no-select">
              <img src="./img/content/spons_4.png" alt="" />
            </li>
            <li class="no-select">
              <img src="./img/content/spons_5.png" alt="" />
            </li>
            <li class="no-select">
              <img src="./img/content/spons_6.png" alt="" />
            </li>
            <li class="no-select">
              <img src="./img/content/spons_7.png" alt="" />
            </li>
            <li class="no-select">
              <img src="./img/content/spons_8.png" alt="" />
            </li>
            <li class="no-select">
              <img src="./img/content/spons_9.png" alt="" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
