<div class="stages">
  <ul class="stages__list">
    <li>
      <div class="stages__img no-select">
        <img src="./img/decor/stages_1.png" alt="" />
      </div>
      <h3 class="tl3">Choose the plan that suits you</h3>
      <div class="stages__txt">
        <p>
          You have the flexibility to choose: individual or corporate
          subscription. Select between a 3-month or 6-month plan
        </p>
      </div>
      <span class="stages__vec no-select">
        <img src="./img/decor/stages_vec.svg" alt="" />
      </span>
    </li>
    <li>
      <div class="stages__img no-select">
        <img src="./img/decor/stages_2.png" alt="" />
      </div>
      <h3 class="tl3">Get access to the platform</h3>
      <div class="stages__txt">
        <p>
          After payment, we’ll send you an invitation to our platform or private
          chat. There, you’ll find all the materials, resources, and
          opportunities to enhance your learning and growth
        </p>
      </div>
      <span class="stages__vec no-select">
        <img src="./img/decor/stages_vec.svg" alt="" />
      </span>
    </li>
    <li>
      <div class="stages__img no-select">
        <img src="./img/decor/stages_3.png" alt="" />
      </div>
      <h3 class="tl3">Enjoy unlimited possibilities</h3>
      <div class="stages__txt">
        <p>
          Join webinars, download useful resources, network with experts and
          community members. We’ve created all the conditions for your
          professional growth!
        </p>
      </div>
    </li>
  </ul>
</div>
