<section class="subscribe">
  <div class="subscribe__container">
    <div class="subscribe__heading">
      <p class="subscribe__subtl">How to</p>
      <h2 class="subscribe__tl">Subscribe?</h2>
    </div>
  </div>

  <div class="subscribe__wrapp">
    <div class="subscribe__container">
      <div class="subscribe__body">
        <div class="subscribe__fltr1 no-select" aria-hidden="true">
          <img src="./img/decor/ambass_fltr.svg" alt="" />
        </div>
        <div class="subscribe__fltr2 no-select" aria-hidden="true">
          <img src="./img/decor/sbscrb_fltr1.svg" alt="" />
        </div>

        <load src="partials/home/stages.html" />
        <load src="partials/home/purchase.html" />
        <load src="partials/home/join.html" />

        <div class="subscribe__fltr3 no-select" aria-hidden="true">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="subscribe__fltr4 no-select" aria-hidden="true">
          <img src="./img/decor/sbscrb_fltr3.svg" alt="" />
        </div>

        <div class="subscribe__slice1 no-select" aria-hidden="true">
          <img src="./img/decor/sbscrb_slice1.svg" alt="" />
        </div>
        <div class="subscribe__slice2 no-select" aria-hidden="true">
          <img src="./img/decor/sbscrb_slice2.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
