<section class="tickets">
  <div class="tickets__container">
    <div class="tickets__wrapp">
      <div class="tickets__circle no-select" aria-hidden="true">
        <img src="./img/decor/fltr_circle3.svg" alt="" />
      </div>
      <div class="connect__fltr2" aria-hidden="true">
        <div></div>
        <div></div>
        <div></div>
      </div>

      <div class="tickets__body">
        <div class="tickets__heading">
          <p class="tickets__subtl">Квитки</p>
          <h2 class="tickets__tl">
            HR Marketing & Employer Branding Conference
          </h2>
        </div>

        <div class="card-tickets">
          <div class="card-tickets__top">
            <h3 class="card-tickets__price">4500₴</h3>
            <div class="card-tickets__valid">
              <h4>5690₴</h4>
              <p>Діє до 1 вересня</p>
            </div>
          </div>

          <div class="card-tickets__includ">
            <p>Что включає тариф:</p>
            <ul>
              <li>Особиста участь в івенті в Києві</li>
              <li>Живі виступи топових спікерів</li>
              <li>Доступ до презентацій після заходу</li>
              <li>Нетворкінг із колегами та експертами</li>
            </ul>
          </div>

          <p class="card-tickets__amount">Доступно 100 квитків</p>

          <div class="card-tickets__btns">
            <button
              type="button"
              class="btn-def bg-yell wide openModal"
              data-id="idRegistr"
            >
              Зареєструватися
            </button>
            <a href="#" class="btn-def trnspr wide"
              >Оплата від юридичної особи</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
