<section class="useful">
  <div class="useful__container">
    <div class="useful__wrapp">
      <div class="useful__corner1 no-select" aria-hidden="true">
        <img src="./img/decor/fltr_corner.svg" alt="" />
      </div>
      <div class="useful__circle1 no-select" aria-hidden="true">
        <img src="./img/decor/fltr_circle.svg" alt="" />
      </div>

      <div class="useful__corner2 no-select" aria-hidden="true">
        <img src="./img/decor/fltr_corner.svg" alt="" />
      </div>
      <div class="useful__circle2 no-select" aria-hidden="true">
        <img src="./img/decor/fltr_circle.svg" alt="" />
      </div>

      <div class="useful__corner3 no-select" aria-hidden="true">
        <img src="./img/decor/fltr_corner2.svg" alt="" />
      </div>

      <div class="useful__img no-select" aria-hidden="true">
        <img src="./img/decor/dec_5.png" alt="" />
      </div>

      <div class="useful__body">
        <h2 class="useful__tl">
          Для кого<br />
          буде корисно
        </h2>
        <h3 class="useful__subtl">
          Якщо ви розвиваєте бренд роботодавця, комунікації, культуру,
          рекрутмент-маркетинг чи інші точки дотику з командою і кандидатами —
          вам сюди.
        </h3>
        <div class="useful__txt">
          <p>
            Ви можете бути Employer Brand або HR фахівцем, комунікаційником,
            рекрутером — важливо одне: ви будуєте бренд і створюєте зміни.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
